
/**PORTRAIT MODE FOR TABLETS**/
@media screen and  (min-height: 500px) and (min-width: 500px) and (hover: none)
{

    #backgroundImg {
        background-position-x: -48vw;
        /* background-position-y: 0vw; */
        z-index: -2;
        position: fixed;
        /* background-position: -16vmax center; */
        background-size: 150% 118vh;
        height: 100vh;
        width: 100%;
    }

    .closeModalButton {
        font-size: 100px;
    }

    .modalImage {
        margin-top: 10vh;
        width: 60%;
        height: auto;
    }

    #header-picture{
        height: 65vmax;
    }

    #headerBackground {
        background-image: none;
        background-attachment: scroll;
        background-color: rgba(0,0,0,0);
        background-blend-mode: normal;
    }

    #header{
        
        min-height: 65vmax;
        height: max-content;
        background-color: transparent;
    }

    #wrapper{
        flex-direction: column;
        width: 50vmax;
    }

    #profile-picture{
        width: 30vmax;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vmax;
        margin-bottom: 4vh;
    }

    #name-and-contact
    {
        margin: 0;
        text-align: center;
        background-color: rgba(0,0,0,1);
        border-radius: 20px;
        padding: 1vh 5vw;
    }

    #name-and-contact p{
        margin-top: 1vh;
        font-size: 2vh;
        margin-bottom: 1vh;
    }

    #name-and-contact h1{
        margin-top: 0;
        padding-right: 0px; 
        font-size: 8vw;
    }      

    #contact-info{
        text-align: center;
        margin-top: 4vmax !important;
        margin-left: 0 !important;
        padding-bottom: 3vmax;
        display: none;
    
    }

    #Education{
        margin-left: 0;
        margin-right: 0;
        min-height: 40vmax;
        max-height: max-content;
      }
    
      #education-header{
          text-align: center;
          padding-top: 5vmax;
          font-size: 4vmax;
      }
    
      .grid-item svg{
          width: 7.5vmax;
      }
    
      #education-milestones{
          margin-top: 4vmax;
          margin-bottom: 2vmax;
          margin-left: 1vmax;
          margin-right: 1vmax;
          padding-left: 4vmin;
          padding-right: 4vmin;
      }

      .grid-item{
          padding-top: 8px;
          padding-bottom: 8px;
      }
    
      .grid-item p{
        font-size: 1.5vmax;
        letter-spacing: 2px;
        line-height: 2vmax;
        padding-top: 1vmax;
      }

  /*About Me*/

    #AboutMeSection{
        padding-top: 8vmax;
        padding-bottom: 0;
    }

    #AboutMe_1{
        margin-left: 2vmin;
        margin-right: 2vmin;
        padding-top: 2vmax;
        padding-bottom: 2vmax;
        padding-left: 2vmin;
        padding-right: 2vmin;
        margin-top: 0;
        border-radius: 20px;

    }

    
  #AboutMe_1 h1{
    margin-bottom: 0;
    font-size: 5vmax;
}

#AboutMe_1 hr{
    margin-top: 2vmax;
    margin-bottom: 3vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
}

#AboutMe_1 p{
    font-size: 2.8vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
    line-height: 4vmax;
}

#AboutMeSection br{
    line-height: 4vmax;
}

#AboutMe_2{
    margin-left: 2vmin;
    margin-right: 2vmin;
    margin-top: 12vmax;
    padding-top: 2vmax;
    padding-bottom: 2vmax;
    padding-left: 2vmin;
    padding-right: 2vmin;
    border-radius: 20px;
    
}

.from-left{
    transform: translateX(-70%);
}

#AboutMe_2 h2{
    margin-bottom: 0;
    font-size: 3.8vmax;

}

#AboutMe_2 hr{
    margin-top: 0;
    margin-bottom: 1vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
}

#AboutMe_2 p{
    font-size: 2.8vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
    line-height: 4vmax;
}


#AboutMe_3{
    margin-left: 2vmin;
    margin-right: 2vmin;
    margin-top: 5vmax;
    padding-top: 2vmax;
    padding-bottom: 2vmax;
    padding-left: 2vmin;
    padding-right: 2vmin;
    border-radius: 20px;
}

#AboutMe_3 p{
    font-size: 2.8vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
    line-height: 4vmax;
}

#AboutMe_3 a{
    max-width: 40vmin;
    margin-top: 4vmax;
    margin-bottom: 1vmax;
    font-size: 3vmax;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;

    padding: 20px 30px;
}

/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*Skills / Languages*/

#Skills-Section{
    margin-left: 0;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%;
    height: 60vmax;
  }

  #skills-header{
      padding-top: 10vmax;
      font-size: 5.5vmax;
  }

  #Skills-Section ul{
      margin-top: 5vmax;
      text-align: center;
  }

  #Skills-Section li{
    display: inline-block;
    font-size: 3.5vmax;
    margin: 0;
    margin-top: 2vmax;
    padding-left: 2vmin;
    padding-right: 2vmin;
    font-weight: normal;
    
  }

  #skills-footer{
    padding-top: 8vmax;
    font-size: 3.8vmax;
  }

  /*----------------------------------------------------*/
  /*footer*/

    .foot{
        height: 48vmax;
        /*background-image: url(../../Images/headerPic_1_20.png);*/
    }

    #phoneNumber{
        font-size: 3.8vmax;
        padding-top: 12vmax;
    }

    #email{
        font-size: 3.8vmax;
        padding-top: 3vmax;
    }


}


/**Surface Duo Portrait**/
@media screen and (min-height: 500px) and (min-width: 500px) and (max-width: 800px)
{
    /*Nothing Yet*/
}


/**LANDSCAPE MODE FOR TABLETS**/
@media screen and (min-width: 1000px) and (min-height: 700px) {
    
    #wrapper{
        flex-direction: row;
        min-height: 56vmin;
        height: max-content;
        margin-left: 0;
        margin-right: 0;
        width: max-content;
    }

    #header-picture{
        height: 58vmin;
        max-width: 100%;
       
        overflow: hidden;
   }
   
   #headerBackground{
       background-image: none;
       background-size: 120% 120%;
   }
    
    #header{
        min-height: 56vmin;
        height: max-content;
        background-color: rgba(0,0,0,0.2);
    }    

    #profile-picture{
        height: 26vmax;
        width: auto;
        margin-left: 1.8vmax;
        margin-top: auto;
        margin-bottom: auto;
        border: 8px solid rgba(0,0,0,1);
    }

    #Education{
        min-height: 50vh; /*60vh;*/
        max-height: max-content;
    }

    #education-header{
        padding-top: 6vmin;
    }

    #education-milestones{
        margin-top: 4vmin;
    }

    .grid-item svg {
        width: 6.5vmax;
    }
    
    #name-and-contact
    {
        margin-left: 1.8vmax;
        border-radius: 0px;
        background-color: transparent;
        padding: 0;
    }

    #name-and-contact h1{
        margin-top: 16vmin;
        font-size: 6vmax;
    }

    #contact-info{
        margin-top: 5vmin !important;
        font-size: 3.2vmin !important; /*1.8rem*/
        display: block;

    }

    #name-and-contact p{
        margin-top: 2vmin;
        margin-left: 0.8vmax !important;
        font-size: 2.8vmin;
        text-align: left;
        
    }

    #AboutMeSection{
        padding-bottom: 0;
    }

    #AboutMeSection br{
        line-height: 4vmin;;
    }    

    #AboutMe_1{
        margin-left: 5vmin;
        margin-right: 5vmin;
        padding-top: 3vmax;
        padding-bottom: 3vmax;
        padding-left: 3vmin;
        padding-right: 3vmin;

    }

    #AboutMe_2{
        margin-left: 5vmin;
        margin-right: 5vmin;
        padding-top: 3vmax;
        padding-bottom: 3vmax;
        padding-left: 3vmin;
        padding-right: 3vmin;

    }

    #AboutMe_3{
        margin-left: 5vmin;
        margin-right: 5vmin;
        padding-top: 3vmax;
        padding-bottom: 3vmax;
        padding-left: 3vmin;
        padding-right: 3vmin;

    }

    #AboutMe_3{
        margin-top: 4vmax;
    }

    #AboutMe_1 p{
        font-size: 2.4vmax;
    }

    #AboutMe_2 p{
        font-size: 2.4vmax;
    }

    #AboutMe_3 p{
        font-size: 2.4vmax;
    }

    #AboutMe_3 a{
        margin-top: 4vmin;
    }

    #Skills-Section {
        margin-left: 0;
        margin-right: 0;
        padding-left: 5%;
        padding-right: 5%;
        height: inherit;
        min-height: max-content;
        max-height: 60vmax;
    }

    #skills-header {
        text-align: center;
        padding-top: 8vmin;
        font-size: 7vmin;
    }

    #Skills-Section ul{
        margin-top: 6vmin;
    }
  
    #Skills-Section li{
      font-size: 5vmin;
      font-weight: normal;
      padding: 1.5vmax;
    }
  
    #skills-footer{
      padding-top: 8vmin;
      padding-bottom: 8vmin;
      font-size: 5vmin;
    }

    .foot{
        height: 48vmin;
    }

    #phoneNumber {
        padding-top: 12vmin;
    }
  
    
   /*-----------------------------------------------------------*/
}


/**LANDSCAPE MODE FOR LARGE PHONES**/
@media screen and (min-width: 700px) and (max-height: 600px) {


    .modalImage {
        width: 50%;
        height: auto;
    }

    .closeModalButton {
        font-size: 90px;
    }
    
    #wrapper{
        flex-direction: row;
        height: 56vmin;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0vh;
    }

    #header-picture{
        height: 58vmin;
    }

    #headerBackground{
        background-image: none;
        background-size: 120%;
        background-color: rgba(0,0,0,0);

       
    }
    
    #header{
        min-height: 56vmin;
        height: max-content;
    }    

    #profile-picture{
        height: 23vmax;
        width: auto;
        margin-left: 1.8vmax;
        margin-top: auto;
        margin-bottom: auto;
        border: 8px solid rgba(0,0,0,1);
    }

    #contact-info{
        display: block;
        font-size: 2.3vmax !important;
    }


    .nav-bar{
        left: 0;
    }

    #Education{
        min-height: 45vmin; /*60vh;*/
        max-height: max-content;
      }

    #education-header{
        padding-top: 6vmin;
    }

    #education-milestones {
        margin-top: 5vmin;
    }

    .grid-item svg {
        width: 6.5vmax;
    }

    .grid-item{
        padding-top: 0;
        padding-bottom: 2px;
    }

    .grid-item p{
        padding-top: 2vmax;
    }

    #name-and-contact
    {
        margin-left: 1.8vmax;
        border-radius: 0px;
        background-color: transparent;
        padding: 0;
    }

    #name-and-contact h1{
        margin-top: 16vmin;
        font-size: 6vmax;
    }


    #name-and-contact p{
        margin-top: 2vmin;
        margin-left: 0.8vmax !important;
        font-size: 2.5vmin;
        text-align: left;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        
    }

    #AboutMeSection{
        padding-bottom: 0;
    }

    #AboutMeSection br{
        line-height: 4vmin;;
    }    

    #AboutMe_1{
        border-radius: 20px;
    }

    #AboutMe_2{
        border-radius: 20px;
    }

    #AboutMe_3{
        border-radius: 20px;
    }
    

    #AboutMe_3{
        margin-top: 4vmax;
    }


    #AboutMe_1 p {
        font-size: 2.5vmax;
    }

    #AboutMe_2 p {
        font-size: 2.5vmax;
    }

    #AboutMe_3 p {
        font-size: 2.5vmax;
    }

    #AboutMe_3 a{
        margin-top: 4vmin;
    }

    #Skills-Section {
        margin-left: 0;
        margin-right: 0;
        padding-left: 5%;
        padding-right: 5%;;
        height: 60vmin;
    }

    #skills-header {
        text-align: center;
        padding-top: 12vmin;
        font-size: 6vmin;
    }

    #Skills-Section ul{
        margin-top: 6vmin;
    }
  
    #Skills-Section li{
      font-size: 4vmin;
      font-weight: normal;
      padding: 1.5vmax;
    }
  
    #skills-footer{
      padding-top: 8vmin;
      font-size: 4vmin;
      
    }

    .foot{
        height: 48vmin;
    }

    #phoneNumber {
        padding-top: 12vmin;
    }

}






/**PORTRAIT MODE FOR PHONES**/
@media screen and  (min-width: 300px) and (max-width: 499px)
{
    #backgroundImg{
        background-image: url(../../Images/headerPic_50.png);
        background-position: -90vmin center;
        background-size: cover;
      }

    .closeModalButton {
        top: 10vh;
    }

    .modalImage {
        width: 100%;
        height: auto;
        margin-top: 12vh;
    }

    #header-picture{

        height: 65vmax;
    }


    #headerBackground{
        /*background-image: url(../../Images/headerPic_phoneHeader2.png);
        background-color: rgba(255,255,0,0.0);
        background-attachment: scroll;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -1;*/

        background-image: none;
        background-color: transparent;
        background-blend-mode: normal;
        height: 0px;
        width: 100%;

    }

    #header{
        
        height: 65vmax;
        background-color: transparent;
    }
    
    

    #wrapper{
        flex-direction: column;
        width: max-content;
    }

    #profile-picture{
        width: 30vmax;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vmax;
        margin-bottom: 2vmax;

        border: 8px solid rgba(0,0,0,1);

        box-shadow: 0 0 15px rgb(255 255 255 / 70%);
        

        transition: 0s;
    }

    #name-and-contact
    {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 90%;
        text-align: center;
        background-color: rgba(0,0,0,1);
        border-radius: 10px;
        padding: 1vh 5vw;
    }

    #name-and-contact h1{
        margin-top: 0vh;
        padding-right: 0px; 
        font-size: 8vmin;
    }      

    #name-and-contact p{
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 3vmin;
    }

    #contact-info{
        text-align: center;
        margin-top: 4vmax !important;
        margin-left: 0 !important;
        padding-bottom: 3vmax;
        display: none;
    
    }

    #Education{
        /*margin-left: 4%;
        margin-right: 2%;*/
        min-height: 40vmax;
        max-height: max-content;
      }
    
      #education-header{
          text-align: center;
          padding-top: 5vmax;
          font-size: 4vmax;
      }
    
      .grid-item svg{
          width: 6.5vmax;
      }
    
      #education-milestones{
          margin-top: 4vmax;
          margin-bottom: 2vmax;
          margin-left: 1vmax;
          margin-right: 1vmax;
          padding-left: 0;
          padding-right: 0;

          grid-template-rows: auto;
      }

      .grid-item{
          padding-top: 0px;
          padding-bottom: 1px;
      }
    
      .grid-item p{
        font-size: 1.4vmax;
        letter-spacing: 2px;
        line-height: 1.7vmax;
        padding-top: 1vmax;
      }






   /* .nav-bar-burger span:first-child
    {
         transform-origin: 0% 0%;
    }

    .nav-bar-burger span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    } */


    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   /* .nav-bar-burger span:active
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }*/


    /*----------------------------------------------------*/
  /*About Me*/

    #AboutMeSection{
        /*padding-top: 8vmax;
        padding-bottom: 22vmax;*/
        background-size: cover;
        background-attachment: scroll;
    }

    #AboutMe_1{
        margin-left: 2vmin;
        margin-right: 2vmin;
        margin-top: 3vmax;
        padding-top: 3vmax;
        padding-bottom: 2vmax;
        padding-left: 1vmin;
        padding-right: 1vmin;

        border-radius: 20px;

    }

    
  #AboutMe_1 h1{
    margin-bottom: 0;
    font-size: 5vmax;
    }

    #AboutMe_1 hr{
        margin-top: 2vmax;
        margin-bottom: 3vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
    }

    #AboutMe_1 p{
        font-size: 2vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
        line-height: 3.5vmax;
    }

    #AboutMeSection br{
        line-height: 4vmax;
    }

    #AboutMe_2{
        margin-left: 2vmin;
        margin-right: 2vmin;
        margin-top: 12vmax;
        padding-top: 3vmax;
        padding-bottom: 2vmax;
        padding-left: 1vmin;
        padding-right: 1vmin;
        border-radius: 20px;
        
    }

    .from-left{
        transform: translateX(-70%);
    }

    #AboutMe_2 h2{
        margin-bottom: 0;
        font-size: 3.8vmax;

    }

    #AboutMe_2 hr{
        margin-top: 1vmax;
        margin-bottom: 1vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
    }

    #AboutMe_2 p{
        font-size: 2vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
        line-height: 3.5vmax;
    }


    #AboutMe_3{
        margin-left: 2vmin;
        margin-right: 2vmin;
        margin-top: 5vmax;
        padding-top: 3vmax;
        padding-bottom: 2vmax;
        padding-left: 1vmin;
        padding-right: 1vmin;

        border-radius: 20px;
    }

    #AboutMe_3 p{
        font-size: 2vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
        line-height: 3.5vmax;
    }

    #AboutMe_3 a{
        max-width: 60vmin;
        margin-top: 4vmax;
        margin-bottom: 1vmax;
        font-size: 2.5vmax;
        text-align: center;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: 0.4s;

        padding: 20px 30px;

        background-position: center;
        background: rgb(196, 74, 3) radial-gradient(circle, transparent 1%, rgb(196, 74, 3) 1%) center/15000%;
    }


    #profile-picture:hover {
        filter: none;
        box-shadow: none;
    }


    /*-----------------------------------------------------------------*/

    /*-----------------------------------------------------------------*/
    /*Skills / Languages*/

    #Skills-Section{
       /* margin-left: 5%;
        margin-right: 5%;*/
        /*height: 55vmax;*/
        min-height: 55vmax;
    }

    #skills-header{
        padding-top: 8vmax;
        font-size: 8vmin;
    }

    #Skills-Section ul{
        margin-top: 5vmax;
        text-align: center;
    }

    #Skills-Section li{
        display: inline-block;
        font-size: 6vmin;
        margin: 0;
        margin-top: 2vmax;
        padding-left: 2vmin;
        padding-right: 2vmin;
        font-weight: normal;
        
    }

    #skills-footer{
        padding-top: 6vmax;
        padding-bottom: 8vmax;
        font-size: 7vmin;
    }

    /*----------------------------------------------------*/
    /*footer*/

        .foot{
            height: 48vmax;
           /* background-image: url(../../Images/headerPic_1_20.png);*/
      

        }

        #phoneNumber{
            font-size: 6vmin;
            padding-top: 15vmax;
            padding-left: 4vmin;
            padding-right: 4vmin;
        }

        #email{
            font-size: 6vmin;
            padding-top: 3vmax;
            padding-left: 4vmin;
            padding-right: 4vmin;
        }

    
}

/***LANDSCAPE PHONES********/
@media screen and (max-height: 500px){


    #backgroundImg{
        background-size: 110%  105vh;
    }

    .closeModalButton {
        top: 10vmin;
        right: 20vmax;
    }

    .modalImage {
        height: 60vmin;
        width: auto;
        margin-top: 12vmin;
    }


    #wrapper{
        flex-direction: row;
        height: inherit;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #header-picture{
        height: 55vmin;
        max-width: 100%;
       
        overflow: hidden;
   }
   
   #headerBackground{
       position: fixed;
       /*background-image: url(../../Images/headerPic_50.png);*/
       background-image: none;
       background-color: rgba(0,0,0,0);
       background-attachment: scroll;
       background-size: 110% 58vw;
       height: 30vw;
       width: 100%;
       z-index: -1;

   }
    
    #header{
        height: 55vmin;
        background-color: rgba(0,0,0,0.1);
    }   
    
    #wrapper{
        margin-top: 0;
        width: 100%;
    }

    #profile-picture{
        height: 45vmin;
        width: auto;
        margin-left: 1.8vmax;
        margin-top: auto;
        margin-bottom: auto;
        border: 6px solid rgba(0,0,0,1);
        box-shadow: 0 0 30px rgb(255 255 255 / 50%);
    }

    .nav-bar{
        left: 1vw;
    }

    #Education{
        min-height: 50vmin; /*60vh;*/
        max-height: max-content;
    }

    #education-header{
        padding-top: 5vmin;
    }

    #education-milestones{
        margin-top: 5vmin;
    }

    .grid-item{
        padding-top: 0;
        padding-bottom: 0;
    }

    .grid-item svg {
        width: 12vmin;
    }

    .grid-item p{
        font-size: 2.8vmin;
        padding-top: 4vmin;
    }
    
    #name-and-contact
    {
        margin-left: 3vmax;
    }

    #name-and-contact h1{
        margin-top: 10vmin;
        font-size: 6vmax;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    #contact-info{
        margin-top: 8vmin !important;
        font-size: 2vmax !important; /*1.8rem*/
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }

    #name-and-contact p{
        margin-top: 2vmin;
        margin-left: 0.8vmax !important;
        font-size: 2vmax;
        text-align: left;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        
    }

    #AboutMeSection{
        padding-bottom: 7vmax;
    }

    #AboutMeSection br{
        line-height: 5vmin;
    }    

    #AboutMe_1{
        margin-left: 2vmax;
        margin-right: 2vmax;
        padding-top: 5vmin;
        padding-bottom: 5vmin;
        padding-left: 1vmax;
        padding-right: 1vmax;
        margin-top: 7vmax;
        border-radius: 30px;
        box-shadow: 0 0 20px rgb(255 255 255 / 60%);

    }

    #AboutMe_2{
        margin-left: 2vmax;
        margin-right: 2vmax;
        padding-top: 3vmin;
        padding-bottom: 5vmin;
        padding-left: 1vmax;
        padding-right: 1vmax;
        margin-top: 8vmax;
        border-radius: 30px;
        box-shadow: 0 0 20px rgb(255 255 255 / 60%);

    }

    #AboutMe_3{
        margin-left: 2vmax;
        margin-right: 2vmax;
        margin-bottom: 5vmin;
        padding-top: 5vmin;
        padding-bottom: 5vmin;
        padding-left: 1vmax;
        padding-right: 1vmax;
        margin-top: 3vmax;
        border-radius: 30px;
        box-shadow: 0 0 20px rgb(255 255 255 / 60%);

    }

    #AboutMe_1 h1 {
        font-size: 4vmax;
    }

    #AboutMe_2 h2{
        font-size: 3.4vmax;
    }

    .from-left {
        transform: translateX(-60%);
    }


    #AboutMe_3 a{
        margin-top: 4vmin;
    }

    #AboutMe_1 p{
        font-size: 4.5vmin;
    }

    #AboutMe_2 p{
        font-size: 4.5vmin;
    }

    #AboutMe_3 p{
        font-size: 4.5vmin;
        line-height: 5vmin;
    }

    #AboutMe_3 a{
        font-size: 4vmin;
        padding: 10px 30px;
    }

    #Skills-Section {
        margin-left: 0%;
        margin-right: 0%;
        height: 60vmin;
    }

    #skills-header {
        text-align: center;
        padding-top: 12vmin;
        font-size: 3.7vmax;
    }

    #Skills-Section ul{
        margin-top: 6vmin;
    }
  
    #Skills-Section li{
      font-size: 3vmax;
      font-weight: normal;
      padding: 1.5vmax;
    }
  
    #skills-footer{
      padding-top: 8vmin;
      font-size: 3vmax;
    }

    .foot{
        height: 48vmin;
    }

    #phoneNumber {
        padding-top: 12vmin;
    }
}

/*Galaxy Fold Portrait*/
@media screen and (max-width: 300px)
{

    #backgroundImg{
        background-size: 180% 100vh;
    }

    .closeModalButton {
        top: 10vh;
    }

    .modalImage {
        width: 100%;
        height: auto;
        margin-top: 12vh;
    }

    #header-picture{

        height: 65vmax;
    }


    #headerBackground{
        background-image: url(../../Images/headerPic_phoneHeader2.png);

        background-color: rgba(255,255,0,0.0);
        

        background-attachment: scroll;

        background-size: 120% 120%;

    }

    #header{
        
        height: 65vmax;
        background-color: transparent;
    }
    
    

    #wrapper{
        flex-direction: column;
        width: max-content;
    }

    #profile-picture{
        width: 30vmax;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vmax;
        margin-bottom: 4vmax;

        border: 6px solid rgba(0,0,0,1);

        box-shadow: 0 0 15px rgb(255 255 255 / 70%);
        

        transition: 0s;
    }

    #name-and-contact
    {
        margin: 0;
        text-align: center;
        background-color: rgba(0,0,0,1);
        border-radius: 10px;
        padding: 1vh 5vw;
        
    }

    #name-and-contact h1{
        margin-top: 0;
        padding-right: 0px; 
        
    }      

    #contact-info{
        text-align: center;
        margin-top: 4vmax !important;
        margin-left: 0 !important;
        padding-bottom: 3vmax;
        display: none;
    
    }

    #name-and-contact p{
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    #Education{
        /*margin-left: 4%;
        margin-right: 2%;*/
        min-height: 40vmax;
        max-height: max-content;
      }
    
      #education-header{
          text-align: center;
          padding-top: 5vmax;
          font-size: 3.4vmax;
      }
    
      .grid-item svg{
          width: 6.5vmax;
      }
    
      #education-milestones{
          margin-top: 4vmax;
          margin-bottom: 2vmax;
          margin-left: 1vmax;
          margin-right: 1vmax;
          padding-left: 0;
          padding-right: 0;

          grid-template-rows: auto;
      }

      .grid-item{
          padding-top: 0px;
          padding-bottom: 1px;
      }
    
      .grid-item p{
        font-size: 1.3vmax;
        letter-spacing: 2px;
        line-height: 1.5vmax;
        padding-top: 1vmax;
        text-align: left;
      }


  /*About Me*/

    #AboutMeSection{
        /*padding-top: 8vmax;
        padding-bottom: 22vmax;*/
        background-size: cover;
        background-attachment: scroll;
    }

    #AboutMe_1{
        margin-left: 2vmin;
        margin-right: 2vmin;
        margin-top: 3vmax;
        padding-top: 3vmax;
        padding-bottom: 2vmax;
        padding-left: 1vmin;
        padding-right: 1vmin;

        border-radius: 20px;

    }

    
  #AboutMe_1 h1{
    margin-bottom: 0;
    font-size: 5vmax;
    }

    #AboutMe_1 hr{
        margin-top: 2vmax;
        margin-bottom: 3vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
    }

    #AboutMe_1 p{
        font-size: 2vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
        line-height: 3.5vmax;
    }

    #AboutMeSection br{
        line-height: 4vmax;
    }

    #AboutMe_2{
        margin-left: 2vmin;
        margin-right: 2vmin;
        margin-top: 12vmax;
        padding-top: 3vmax;
        padding-bottom: 2vmax;
        padding-left: 1vmin;
        padding-right: 1vmin;
        border-radius: 20px;
        
    }

    .from-left{
        transform: translateX(-70%);
    }

    #AboutMe_2 h2{
        margin-bottom: 0;
        font-size: 3.8vmax;

    }

    #AboutMe_2 hr{
        margin-top: 1vmax;
        margin-bottom: 1vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
    }

    #AboutMe_2 p{
        font-size: 2vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
        line-height: 3.5vmax;
    }


    #AboutMe_3{
        margin-left: 2vmin;
        margin-right: 2vmin;
        margin-top: 5vmax;
        margin-bottom: 8vmin;
        padding-top: 4vmin;
        padding-bottom: 2vmax;
        padding-left: 1vmin;
        padding-right: 1vmin;

        border-radius: 20px;
    }

    #AboutMe_3 p{
        font-size: 2vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
        line-height: 3.5vmax;
    }

    #AboutMe_3 a{
        max-width: 60vmin;
        margin-top: 4vmax;
        margin-bottom: 1vmax;
        font-size: 2.5vmax;
        text-align: center;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: 0.4s;

        padding: 15px 20px;

        background-position: center;
        background: rgb(196, 74, 3) radial-gradient(circle, transparent 1%, rgb(196, 74, 3) 1%) center/15000%;
    }


    #profile-picture:hover {
        filter: none;
        box-shadow: none;
    }


    /*-----------------------------------------------------------------*/

    /*-----------------------------------------------------------------*/
    /*Skills / Languages*/

    #Skills-Section{
       /* margin-left: 5%;
        margin-right: 5%;*/
        height: 55vmax;
    }

    #skills-header{
        padding-top: 8vmax;
        font-size: 8vmin;
    }

    #Skills-Section ul{
        margin-top: 7vmax;
        text-align: center;
    }

    #Skills-Section li{
        display: inline-block;
        font-size: 6vmin;
        margin: 0;
        margin-top: 2vmax;
        padding-left: 2vmin;
        padding-right: 2vmin;
        font-weight: normal;
        
    }

    #skills-footer{
        padding-top: 9vmax;
        font-size: 7vmin;
    }

    /*----------------------------------------------------*/
    /*footer*/

        .foot{
            height: 48vmax;
           /* background-image: url(../../Images/headerPic_1_20.png);*/
      

        }

        #phoneNumber{
            font-size: 6vmin;
            padding-top: 15vmax;
            padding-left: 4vmin;
            padding-right: 4vmin;
        }

        #email{
            font-size: 6vmin;
            padding-top: 3vmax;
            padding-left: 4vmin;
            padding-right: 4vmin;
        }

    
}

@media screen and (hover: none) {
    

    #profile-picture:hover {
        filter: none;
        box-shadow: none;
    }
    

    #AboutMe_3 a{
        background-position: center;
        background: rgb(196, 74, 3) radial-gradient(circle, transparent 1%, rgb(196, 74, 3) 1%) center/15000%;
    }

    #AboutMe_3 a:hover{
        background-color: rgb(196, 74, 3);
        box-shadow: none;
    }

    #AboutMe_3 a:active{
        background-color: white;
        background-size: 100%;
        transition: background 0s;
        
    }

}


