@media screen and (max-width: 950px)
{
    #header{
        background-image: url(../../Images/headerPic_1_20.png);
        height: max-content;
    }

    #wrapper{
        flex-direction: column;
        width: 50vmax;
    }

    #profile-picture{
        width: 35vmax;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vmax;
    }

    #name-and-contact
    {
        margin: 0;
        text-align: center;
    }

    #name-and-contact h1{
        margin-top: 2vh;
        padding-right: 0px; 
    }      

    #contact-info{
        text-align: center;
        margin-top: 4vmax !important;
        margin-left: 0 !important;
        padding-bottom: 3vmax;
    
    }

    #Education{
        margin-left: 4%;
        margin-right: 2%;
        min-height: 40vmax;
        max-height: max-content;
      }
    
      #education-header{
          text-align: center;
          padding-top: 5vmax;
          font-size: 4vmax;
      }
    
      .grid-item svg{
          width: 7.5vmax;
      }
    
      #education-milestones{
          margin-top: 4vmax;
          margin-bottom: 2vmax;
          margin-left: 1vmax;
          margin-right: 1vmax;
      }

      .grid-item{
          padding-top: 8px;
          padding-bottom: 8px;
      }
    
      .grid-item p{
        font-size: 1.5vmax;
        letter-spacing: 2px;
        line-height: 2vmax;
        padding-top: 1vmax;
      }

      .nav-bar{
        position: absolute;
        top: 5vmax;
        right: 1vmax;
     
        margin-top: 0;
        margin-left: 0;
        
    }

    /*----------------------------------------------------*/
  /*About Me*/

    #AboutMeSection{
        padding-top: 8vmax;
        padding-bottom: 22vmax;
    }

    #AboutMe_1{
        margin-left: 5vmin;
        margin-right: 5vmin;
        padding-top: 3vmax;
        padding-bottom: 3vmax;
        padding-left: 3vmin;
        padding-right: 3vmin;

    }

    
  #AboutMe_1 h1{
    margin-bottom: 0;
    font-size: 5vmax;
}

#AboutMe_1 hr{
    margin-top: 2vmax;
    margin-bottom: 3vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
}

#AboutMe_1 p{
    font-size: 1.8vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
    line-height: 4vmax;
}

#AboutMeSection br{
    line-height: 4vmax;
}

#AboutMe_2{
    margin-left: 5vmin;
    margin-right: 5vmin;
    margin-top: 14vmax;
    padding-top: 3vmax;
    padding-bottom: 3vmax;
    padding-left: 3vmin;
    padding-right: 3vmin;
    
}

.from-left{
    transform: translateX(-80%);
}

#AboutMe_2 h2{
    margin-bottom: 0;
    font-size: 3.8vmax;

}

#AboutMe_2 hr{
    margin-top: 0;
    margin-bottom: 1vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
}

#AboutMe_2 p{
    font-size: 1.8vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
    line-height: 4vmax;
}


#AboutMe_3{
    margin-left: 5vmin;
    margin-right: 5vmin;
    margin-top: 5vmax;
    padding-top: 3vmax;
    padding-bottom: 3vmax;
    padding-left: 3vmin;
    padding-right: 3vmin;
}

#AboutMe_3 p{
    font-size: 1.8vmax;
    margin-left: 5vmin;
    margin-right: 5vmin;
    line-height: 4vmax;
}

#AboutMe_3 a{
    max-width: 40vmin;
    margin-top: 4vmax;
    margin-bottom: 1vmax;
    font-size: 2vmax;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;

    padding: 20px 15px;
}

/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*Skills / Languages*/

#Skills-Section{
    margin-left: 5%;
    margin-right: 5%;
    height: 60vmax;
  }

  #skills-header{
      padding-top: 10vmax;
      font-size: 5.5vmax;
  }

  #Skills-Section ul{
      margin-top: 5vmax;
      text-align: center;
  }

  #Skills-Section li{
    display: inline-block;
    font-size: 3.5vmax;
    margin: 0;
    margin-top: 2vmax;
    padding-left: 2vmin;
    padding-right: 2vmin;
    font-weight: normal;
    
  }

  #skills-footer{
    padding-top: 8vmax;
    font-size: 3.8vmax;
  }

  /*----------------------------------------------------*/
  /*footer*/

    .foot{
        height: 48vmax;
        background-image: url(../../Images/headerPic_1_20.png);
    }

    #phoneNumber{
        font-size: 3.8vmax;
        padding-top: 12vmax;
    }

    #email{
        font-size: 3.8vmax;
        padding-top: 3vmax;
    }


}
