
*{  
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    transition: 0s linear;
    transition-property: background-position;
    position: relative;
}

#header-picture{
     height: 22.5vmax;
     max-width: 100%;
    
     overflow: hidden;
}

#headerBackground{
    background-image: url(../../Images/headerPic2.png);
    /*Parallax scrolling effect vvv it's supposed to keep the image in place while scrolling.*/
   /* background-attachment: fixed;*/
    object-fit: cover;

    background-color: rgba(0,0,0,0.3);
    background-blend-mode: hue;
    background-size: 100% 100%;
    background-position-y: -2px;

    transition: .15s ease-in-out;
    transition-property: background-position;

    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;

    -webkit-transition-property: background-position;
    -moz-transition-property: background-position;
    -o-transition-property: background-position;

    height: inherit;

}


#header{
    height: 22.5vmax;
    width: 100%;
    max-width: 100%;

    top:0;
    position: absolute;

}

#wrapper{

    height: inherit;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

}

/*
old div that was meant to be a black circle that the actual profile picture would sit on top of.
#profile-picture{
    height: 50vh;
    width: 50vh;
    border-radius: 360px;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    resize: none;

}
*/

#profile-slot{

  /*  height: 50vh;
    width: 30vw;
    position: absolute;*/
}

#profile-picture{

    border-radius: 50%;
    height: 23vmax;
    width: auto;
    /*position: fixed;*/
    float: left;
    margin-left: 1vw;
    margin-top: 1vh;
    border: 10px solid rgba(0,0,0,1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);

    transition: 100ms ease-in;
}

#profile-picture:hover{
    filter: brightness(1.2);
    box-shadow: 0 0 80px rgba(255, 255, 255, 1);
    cursor:pointer;
}


#myModal{

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  
}

.modalImage{
    margin: auto;
    display: block;
    width: auto;
    height: 80%;
    max-width: 600px;
}

.modalImage {
    animation-name: zoom-in-image;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom-in-image {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .closeModalButton {
    position: absolute;
    top: 1vh;
    right: 10vw;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closeModalButton:hover, .closeModalButton:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modalImage {
      width: 100%;
    }
  }

#name-and-contact
{
    margin-left: 1.5vmax;
    overflow: hidden;
}

#name-and-contact h1{
    margin-top: 8vh;
    color: white;
    font-size: 5.5vmax;
    font-weight: bolder;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding-right: 5px;

}

#contact-info{
    margin-top: 8vh !important;
    font-size: 2vmax !important; /*1.8rem*/
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bolder;

}

#name-and-contact p{
    margin-top: 0.5vh;
    margin-left: 0.8vw;
    font-size: 1.5vmax;
    font-weight: bolder;
    color: white;
}


/*-----Menu-------------------------------*/

.nav-bar{
   /* margin-right: 6vw;*/
   position: absolute;
   top: 0vh;
   right: 6.4vmax;

   margin-top: 5vh;
   margin-left: 5vw;
}

.menu a{
    /*margin-right: 1.5vw;*/
    background-color: rgba(0,0,0,0.8);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-size: 2vmax;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

.menu a:hover{
    background-color: green;
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
      display: inline;
      margin-right: 1.5vh;
  }

  .nav-bar-burger{
      display: none;
      position: absolute;

      top: 5vmax;
      right: 10vmin;
  }

  .burger-menu-active{
    position: fixed;
 }

  .nav-bar-burger span{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    
    background: rgba(255,255,255,1);
    border-radius: 3px;

    border: 1px solid black;
    
    z-index: 3;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.3s ease;
}


  .burger-menu{
     /* visibility: hidden;*/
      position: fixed;
      height: 100vmax;
      width: 0px;
      right: 0;
      top: 0;

      background-color: rgba(58, 58, 58, 1);

      -webkit-font-smoothing: antialiased;

      /*transform: translateX(100%);*/


      /*transform: translateX(100%);*/
      transition: 500ms cubic-bezier(0.060, 0.975, 0.195, 0.985);
                
     
      
  }

  .burger-menu ul{
    list-style-type: none;
    margin-top: 20vmax;
    padding: 0;
  }

  .burger-menu li{
      display: block;
      opacity: 1;
      text-align: center;
      margin-top: 4vmax;

  }


  .burger-menu a{
    text-align: center;
    font-size: 7vmax;
    color: white;
    text-decoration: none;
  }


  .burger-menu-open{
    /*visibility: visible;*/
    width: 100vw;
    height: 100vh;
    /*transform: translateX(0%);*/
    top: 0;
    right: 0;
    z-index: 2;
  }



  /*-----------------------------------------------------------*/


  #Education{
    /*margin-left: 15%;
    margin-right: 15%;*/
    min-height: max-content; /*60vh;*/
    max-height: max-content;

    background-color: white;

  }

  #education-header{
      text-align: center;
      padding-top: 8vmin;
      font-size: 3.7vmax;
      font-weight: bolder;
      color: rgb(107, 107, 107);
  }

  .grid-item svg{
      width: 4.5vmax;
  }

  #education-milestones{
      margin-top: 4vh;
      margin-bottom: 4vh;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 50% 50%;
       
  }

  .grid-item {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
 
  
  }

  .grid-item p{
    color: rgb(107, 107, 107);
    font-size: 1.2vmax;
    font-weight: bold;
  }

  /*----------------------------------------------------*/
  /*About Me*/

  #AboutMeSection{
      height: max-content;
      position: relative;
      /*padding-top: 10vmin;
      padding-bottom: 25vmin;*/

     /* background-image: url(../../Images/headerPic_50.png);*/
      background-size: 100% 100%;
      background-attachment: fixed;
  }

  #whitespace{
      background-color: white;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 50vmax;
  }

  #backgroundImg{
    background-image: url(../../Images/headerPic_1_20.png);
    z-index: -2;
    position: fixed;
    background-position: -16vmax center;
    background-size: cover;
    height:100%;
    width:100%;
  }

  #AboutMePicture{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../../Images/headerPic_1_20.png);
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: hue;
    background-attachment: fixed;
    background-size: 100% 100%;


   /* height: -moz-available;          /* WebKit-based browsers will ignore this. */  
   /* height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
   /* min-height: 100%;*/
  }

  #AboutMe_1{
      display: inline-block;
      margin-top: 15vmin;
      margin-left: 15vmax;
      margin-right: 15vmax;
      padding-top: 3vmin;
      padding-bottom: 3vmin;
      padding-left: 3vmax;
      padding-right: 3vmax;
      background-color:rgba(0, 0, 0, 0.85);
      border-radius: 70px;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
      color: white;
  }

  #AboutMe_1 h1{
      text-align: center;
      margin-bottom: 3vmin;
      font-size: 3.75vmax;
  }

  #AboutMe_1 hr{
      margin-bottom: 3vmin;
      margin-left: 5vmax;
      margin-right: 5vmax;

      border: none;
      border-top: 3px solid white;
  }

  #AboutMe_1 p{
      font-size: 1.6vmax;
      margin-left: 5vmax;
      margin-right: 5vmax;
      line-height: 5vmin;
      letter-spacing: 2px;
  }

  #AboutMe_2{
    margin-left: 15vmax;
    margin-right: 15vmax;
    margin-top: 10vmin;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    padding-left: 3vmax;
    padding-right: 3vmax;
    background-color:rgba(0, 0, 0, 0.85);
    border-radius: 70px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    color: white;
}

#AboutMe_2 h2{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2.5vmax;
}

#AboutMe_2 hr{
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;

    border: none;
    border-top: 3px solid white;
}

#AboutMe_2 p{
    font-size: 1.6vmax;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 5vh;
    letter-spacing: 2px;
}

#AboutMe_3{
    display:inline-block;
    margin-bottom: 20vmin;
    margin-left: 15vmax;
    margin-right: 15vmax;
    margin-top: 10vmin;
    padding-top: 4vmin;
    padding-bottom: 4vmin;
    padding-left: 3vmax;
    padding-right: 3vmax;
    background-color:rgba(0, 0, 0, 0.85);
    border-radius: 70px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    color: white;

}

#AboutMe_3 p{
    font-size: 1.6vmax;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 4vh;
    letter-spacing: 2px;
}

#AboutMe_3 a{
    display: block;
    background-color: rgb(196, 74, 3);
    border-radius: 30px;
    padding: 8px 15px;
    margin: auto;
    max-width: 20vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
    font-size: 1.7vmax;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

#AboutMe_3 a:hover{
    background-color: rgb(255, 154, 4);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/*-----------------------------------------------------------------*/
/*Skills / Languages*/

#Skills-Section{
   /* margin-left: 5%;
    margin-right: 5%;*/
    height: 60vh;
    background-color: white;
  }

  #skills-header{
      text-align: center;
      padding-top: 12vh;
      font-size: 3rem;
      font-weight: bolder;
      color: rgb(107, 107, 107);
  }

  #Skills-Section ul{
      margin-top: 8vh;
      text-align: center;
  }

  #Skills-Section li{
    color: rgb(107, 107, 107);
    font-size: 2rem;
    font-weight: normal;
    padding: 1.5vw;
  }

  #skills-footer{
    text-align: center;
    padding-top: 8vh;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(107, 107, 107);
  }

  /*----------------------------------------------------*/
  /*footer*/

  .foot{

      max-width: 100%;
      height: 48vh;
  }


  #phoneNumber{
      font-size: 3vmax;
      font-weight: bolder;
      text-align: center;
      color: white;
      text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;

      padding-top: 12vh;
  }

  #email{
    font-size: 3vmax;
    font-weight: bolder;
    text-align: center;
    color: white;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;

    padding-top: 3vh;
  }


  /*-------------FADE-IN and SLIDE-IN STUFF-------------------*/

  .fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  /*For elements that have the 'fade-in' class AND the 'appear' class */
  .fade-in.appear{
    opacity: 1;
  }

  .from-down{
      transform: translateY(40%);
      opacity: 0;
      transition: 0.45s cubic-bezier(.18,.89,.45,1.36)
  }

  .from-down.appear{
    transform: translateY(0);
    opacity: 1;
  }


  .from-left{
      transform: translateX(-100%);
      opacity: 0;
      transition: 700ms ease-in;
  }

  .from-left.appear{
      transform: translateX(0);
      opacity: 1;

  }