
*{  
    padding: 0;
    margin: 0;
}


body{
    font-family: "Roboto", sans-serif;
    transition: 0s linear;
    transition-property: background-position;
    position: relative;
    -webkit-text-size-adjust: none;
    
}

#header-picture{
     height: 22.5vmax;
     height: 0 !important;
     max-width: 100%;
    
     overflow: hidden;
}


#headerBackground{
    background-image: url(../../Images/headerPic_50.png);
    background-image: none;
    /*Parallax scrolling effect vvv it's supposed to keep the image in place while scrolling.*/
    background-attachment: fixed;
    object-fit: cover;

    /*background-color: rgba(0,0,0,0.2);
    background-blend-mode: hue;*/

    background-color: transparent;

    background-size: 112%;
    background-position-x: -10vw;
    /*background-position-y: -36px;*/

    transition: .15s ease-in-out;
    transition-property: background-position;

    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;

    -webkit-transition-property: background-position;
    -moz-transition-property: background-position;
    -o-transition-property: background-position;

    height: inherit;

}



#header{
    /*min-height: 22.5vmax;*/
    min-height: 90vh;
    height: max-content;
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;

    /*top:0;
    position: absolute;*/

}

#wrapper{

    height: inherit;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    position: relative;

    z-index: 0;

}

/*
old div that was meant to be a black circle that the actual profile picture would sit on top of.
#profile-picture{
    height: 50vh;
    width: 50vh;
    border-radius: 360px;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    resize: none;

}
*/

#profile-slot{

  /*  height: 50vh;
    width: 30vw;
    position: absolute;*/
}

#profile{
    position: relative;
    margin-top: 2vh;
}


#profile-picture{
    display: block;

    position: relative;

    border-radius: 50%;
    /*height: 20vmax;*/
    width: 20vw;
    height: 20vw;
    /*position: fixed;*/
    /*float: left;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 10vh;*/
    border: 8px solid rgba(0,0,0,1);

    border: 2px solid rgba(0,0,0,1);

   /* max-width: 250px;*/
    /*padding: 1rem;*/
    background: linear-gradient(0deg, #0ac27b, #0a7a96, #780baa);
    padding: 8px;
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);*/
    z-index: 1;

    transition: 100ms ease-in;
    z-index: 1;

    animation: 5s rotate linear infinite;
    -webkit-animation: 5s rotate-webkit linear infinite;
    -moz-animation: 5s rotate-moz linear infinite;
    -ms-animation: 5s rotate-ms linear infinite;
    -o-animation: 5s rotate-o linear infinite;
    
}

@keyframes rotate {
    0% { background: linear-gradient(0.00deg, #0ac27b, #0a7a96, #780baa)}
    1% { background: linear-gradient(3.60deg, #0ac27b, #0a7a96, #780baa)}
    2% { background: linear-gradient(7.20deg, #0ac27b, #0a7a96, #780baa)}
    3% { background: linear-gradient(10.80deg, #0ac27b, #0a7a96, #780baa)}
    4% { background: linear-gradient(14.40deg, #0ac27b, #0a7a96, #780baa)}
    5% { background: linear-gradient(18.00deg, #0ac27b, #0a7a96, #780baa)}
    6% { background: linear-gradient(21.60deg, #0ac27b, #0a7a96, #780baa)}
    7% { background: linear-gradient(25.20deg, #0ac27b, #0a7a96, #780baa)}
    8% { background: linear-gradient(28.80deg, #0ac27b, #0a7a96, #780baa)}
    9% { background: linear-gradient(32.40deg, #0ac27b, #0a7a96, #780baa)}
    10% { background: linear-gradient(36.00deg, #0ac27b, #0a7a96, #780baa)}

    11% { background: linear-gradient(39.60deg, #0ac27b, #0a7a96, #780baa)}
    12% { background: linear-gradient(43.20deg, #0ac27b, #0a7a96, #780baa)}
    13% { background: linear-gradient(46.80deg, #0ac27b, #0a7a96, #780baa)}
    14% { background: linear-gradient(50.40deg, #0ac27b, #0a7a96, #780baa)}
    15% { background: linear-gradient(54.00deg, #0ac27b, #0a7a96, #780baa)}
    16% { background: linear-gradient(57.60deg, #0ac27b, #0a7a96, #780baa)}
    17% { background: linear-gradient(61.20deg, #0ac27b, #0a7a96, #780baa)}
    18% { background: linear-gradient(64.80deg, #0ac27b, #0a7a96, #780baa)}
    19% { background: linear-gradient(68.40deg, #0ac27b, #0a7a96, #780baa)}
    20% { background: linear-gradient(72.00deg, #0ac27b, #0a7a96, #780baa)}
    21% { background: linear-gradient(75.60deg, #0ac27b, #0a7a96, #780baa)}

    22% { background: linear-gradient(79.20deg, #0ac27b, #0a7a96, #780baa)}
    23% { background: linear-gradient(82.80deg, #0ac27b, #0a7a96, #780baa)}
    24% { background: linear-gradient(86.40deg, #0ac27b, #0a7a96, #780baa)}
    25% { background: linear-gradient(90.00deg, #0ac27b, #0a7a96, #780baa)}
    26% { background: linear-gradient(93.60deg, #0ac27b, #0a7a96, #780baa)}
    27% { background: linear-gradient(97.20deg, #0ac27b, #0a7a96, #780baa)}
    28% { background: linear-gradient(100.80deg, #0ac27b, #0a7a96, #780baa)}
    29% { background: linear-gradient(104.40deg, #0ac27b, #0a7a96, #780baa)}
    30% { background: linear-gradient(108.40deg, #0ac27b, #0a7a96, #780baa)}
    31% { background: linear-gradient(111.60deg, #0ac27b, #0a7a96, #780baa)}
    32% { background: linear-gradient(115.20deg, #0ac27b, #0a7a96, #780baa)}

    33% { background: linear-gradient(118.80deg, #0ac27b, #0a7a96, #780baa)}
    34% { background: linear-gradient(122.40deg, #0ac27b, #0a7a96, #780baa)}
    35% { background: linear-gradient(126.00deg, #0ac27b, #0a7a96, #780baa)}
    36% { background: linear-gradient(129.60deg, #0ac27b, #0a7a96, #780baa)}
    37% { background: linear-gradient(133.20deg, #0ac27b, #0a7a96, #780baa)}
    38% { background: linear-gradient(136.80deg, #0ac27b, #0a7a96, #780baa)}
    39% { background: linear-gradient(140.40deg, #0ac27b, #0a7a96, #780baa)}
    40% { background: linear-gradient(144.40deg, #0ac27b, #0a7a96, #780baa)}
    41% { background: linear-gradient(147.60deg, #0ac27b, #0a7a96, #780baa)}
    42% { background: linear-gradient(151.20deg, #0ac27b, #0a7a96, #780baa)}
    43% { background: linear-gradient(154.80deg, #0ac27b, #0a7a96, #780baa)}

    44% { background: linear-gradient(158.40deg, #0ac27b, #0a7a96, #780baa)}
    45% { background: linear-gradient(162.00deg, #0ac27b, #0a7a96, #780baa)}
    46% { background: linear-gradient(165.60deg, #0ac27b, #0a7a96, #780baa)}
    47% { background: linear-gradient(169.20deg, #0ac27b, #0a7a96, #780baa)}
    48% { background: linear-gradient(172.80deg, #0ac27b, #0a7a96, #780baa)}
    49% { background: linear-gradient(176.40deg, #0ac27b, #0a7a96, #780baa)}
    50% { background: linear-gradient(180.00deg, #0ac27b, #0a7a96, #780baa)}
    51% { background: linear-gradient(183.60deg, #0ac27b, #0a7a96, #780baa)}
    52% { background: linear-gradient(187.20deg, #0ac27b, #0a7a96, #780baa)}
    53% { background: linear-gradient(190.80deg, #0ac27b, #0a7a96, #780baa)}
    54% { background: linear-gradient(194.40deg, #0ac27b, #0a7a96, #780baa)}

    55% { background: linear-gradient(198.00deg, #0ac27b, #0a7a96, #780baa)}
    56% { background: linear-gradient(201.60deg, #0ac27b, #0a7a96, #780baa)}
    57% { background: linear-gradient(205.20deg, #0ac27b, #0a7a96, #780baa)}
    58% { background: linear-gradient(208.80deg, #0ac27b, #0a7a96, #780baa)}
    59% { background: linear-gradient(212.40deg, #0ac27b, #0a7a96, #780baa)}
    60% { background: linear-gradient(216.00deg, #0ac27b, #0a7a96, #780baa)}
    61% { background: linear-gradient(219.60deg, #0ac27b, #0a7a96, #780baa)}
    62% { background: linear-gradient(223.20deg, #0ac27b, #0a7a96, #780baa)}
    63% { background: linear-gradient(226.80deg, #0ac27b, #0a7a96, #780baa)}
    64% { background: linear-gradient(230.40deg, #0ac27b, #0a7a96, #780baa)}
    65% { background: linear-gradient(234.00deg, #0ac27b, #0a7a96, #780baa)}

    66% { background: linear-gradient(237.60deg, #0ac27b, #0a7a96, #780baa)}
    67% { background: linear-gradient(241.20deg, #0ac27b, #0a7a96, #780baa)}
    68% { background: linear-gradient(244.80deg, #0ac27b, #0a7a96, #780baa)}
    69% { background: linear-gradient(248.40deg, #0ac27b, #0a7a96, #780baa)}
    70% { background: linear-gradient(252.00deg, #0ac27b, #0a7a96, #780baa)}
    71% { background: linear-gradient(255.60deg, #0ac27b, #0a7a96, #780baa)}
    72% { background: linear-gradient(259.20deg, #0ac27b, #0a7a96, #780baa)}
    73% { background: linear-gradient(262.80deg, #0ac27b, #0a7a96, #780baa)}
    74% { background: linear-gradient(266.40deg, #0ac27b, #0a7a96, #780baa)}
    75% { background: linear-gradient(270.00deg, #0ac27b, #0a7a96, #780baa)}

    76% { background: linear-gradient(273.60deg, #0ac27b, #0a7a96, #780baa)}
    77% { background: linear-gradient(277.20deg, #0ac27b, #0a7a96, #780baa)}
    78% { background: linear-gradient(280.80deg, #0ac27b, #0a7a96, #780baa)}
    79% { background: linear-gradient(284.40deg, #0ac27b, #0a7a96, #780baa)}
    80% { background: linear-gradient(288.00deg, #0ac27b, #0a7a96, #780baa)}
    81% { background: linear-gradient(291.60deg, #0ac27b, #0a7a96, #780baa)}
    82% { background: linear-gradient(295.20deg, #0ac27b, #0a7a96, #780baa)}
    83% { background: linear-gradient(298.80deg, #0ac27b, #0a7a96, #780baa)}
    84% { background: linear-gradient(302.40deg, #0ac27b, #0a7a96, #780baa)}
    85% { background: linear-gradient(306.00deg, #0ac27b, #0a7a96, #780baa)}

    86% { background: linear-gradient(309.60deg, #0ac27b, #0a7a96, #780baa)}
    87% { background: linear-gradient(313.20deg, #0ac27b, #0a7a96, #780baa)}
    88% { background: linear-gradient(316.80deg, #0ac27b, #0a7a96, #780baa)}
    89% { background: linear-gradient(320.40deg, #0ac27b, #0a7a96, #780baa)}
    90% { background: linear-gradient(324.00deg, #0ac27b, #0a7a96, #780baa)}
    91% { background: linear-gradient(327.60deg, #0ac27b, #0a7a96, #780baa)}
    92% { background: linear-gradient(331.20deg, #0ac27b, #0a7a96, #780baa)}
    93% { background: linear-gradient(334.80deg, #0ac27b, #0a7a96, #780baa)}
    94% { background: linear-gradient(338.40deg, #0ac27b, #0a7a96, #780baa)}
    95% { background: linear-gradient(342.00deg, #0ac27b, #0a7a96, #780baa)}

    96% { background: linear-gradient(345.60deg, #0ac27b, #0a7a96, #780baa)}
    97% { background: linear-gradient(349.20deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(352.80deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(356.40deg, #0ac27b, #0a7a96, #780baa)}
    100% { background: linear-gradient(360.00deg, #0ac27b, #0a7a96, #780baa)} 
}

@-webkit-keyframes rotate-webkit{
    0% { background: linear-gradient(0.00deg, #0ac27b, #0a7a96, #780baa)}
    1% { background: linear-gradient(3.60deg, #0ac27b, #0a7a96, #780baa)}
    2% { background: linear-gradient(7.20deg, #0ac27b, #0a7a96, #780baa)}
    3% { background: linear-gradient(10.80deg, #0ac27b, #0a7a96, #780baa)}
    4% { background: linear-gradient(14.40deg, #0ac27b, #0a7a96, #780baa)}
    5% { background: linear-gradient(18.00deg, #0ac27b, #0a7a96, #780baa)}
    6% { background: linear-gradient(21.60deg, #0ac27b, #0a7a96, #780baa)}
    7% { background: linear-gradient(25.20deg, #0ac27b, #0a7a96, #780baa)}
    8% { background: linear-gradient(28.80deg, #0ac27b, #0a7a96, #780baa)}
    9% { background: linear-gradient(32.40deg, #0ac27b, #0a7a96, #780baa)}
    10% { background: linear-gradient(36.00deg, #0ac27b, #0a7a96, #780baa)}

    11% { background: linear-gradient(39.60deg, #0ac27b, #0a7a96, #780baa)}
    12% { background: linear-gradient(43.20deg, #0ac27b, #0a7a96, #780baa)}
    13% { background: linear-gradient(46.80deg, #0ac27b, #0a7a96, #780baa)}
    14% { background: linear-gradient(50.40deg, #0ac27b, #0a7a96, #780baa)}
    15% { background: linear-gradient(54.00deg, #0ac27b, #0a7a96, #780baa)}
    16% { background: linear-gradient(57.60deg, #0ac27b, #0a7a96, #780baa)}
    17% { background: linear-gradient(61.20deg, #0ac27b, #0a7a96, #780baa)}
    18% { background: linear-gradient(64.80deg, #0ac27b, #0a7a96, #780baa)}
    19% { background: linear-gradient(68.40deg, #0ac27b, #0a7a96, #780baa)}
    20% { background: linear-gradient(72.00deg, #0ac27b, #0a7a96, #780baa)}
    21% { background: linear-gradient(75.60deg, #0ac27b, #0a7a96, #780baa)}

    22% { background: linear-gradient(79.20deg, #0ac27b, #0a7a96, #780baa)}
    23% { background: linear-gradient(82.80deg, #0ac27b, #0a7a96, #780baa)}
    24% { background: linear-gradient(86.40deg, #0ac27b, #0a7a96, #780baa)}
    25% { background: linear-gradient(90.00deg, #0ac27b, #0a7a96, #780baa)}
    26% { background: linear-gradient(93.60deg, #0ac27b, #0a7a96, #780baa)}
    27% { background: linear-gradient(97.20deg, #0ac27b, #0a7a96, #780baa)}
    28% { background: linear-gradient(100.80deg, #0ac27b, #0a7a96, #780baa)}
    29% { background: linear-gradient(104.40deg, #0ac27b, #0a7a96, #780baa)}
    30% { background: linear-gradient(108.40deg, #0ac27b, #0a7a96, #780baa)}
    31% { background: linear-gradient(111.60deg, #0ac27b, #0a7a96, #780baa)}
    32% { background: linear-gradient(115.20deg, #0ac27b, #0a7a96, #780baa)}

    33% { background: linear-gradient(118.80deg, #0ac27b, #0a7a96, #780baa)}
    34% { background: linear-gradient(122.40deg, #0ac27b, #0a7a96, #780baa)}
    35% { background: linear-gradient(126.00deg, #0ac27b, #0a7a96, #780baa)}
    36% { background: linear-gradient(129.60deg, #0ac27b, #0a7a96, #780baa)}
    37% { background: linear-gradient(133.20deg, #0ac27b, #0a7a96, #780baa)}
    38% { background: linear-gradient(136.80deg, #0ac27b, #0a7a96, #780baa)}
    39% { background: linear-gradient(140.40deg, #0ac27b, #0a7a96, #780baa)}
    40% { background: linear-gradient(144.40deg, #0ac27b, #0a7a96, #780baa)}
    41% { background: linear-gradient(147.60deg, #0ac27b, #0a7a96, #780baa)}
    42% { background: linear-gradient(151.20deg, #0ac27b, #0a7a96, #780baa)}
    43% { background: linear-gradient(154.80deg, #0ac27b, #0a7a96, #780baa)}

    44% { background: linear-gradient(158.40deg, #0ac27b, #0a7a96, #780baa)}
    45% { background: linear-gradient(162.00deg, #0ac27b, #0a7a96, #780baa)}
    46% { background: linear-gradient(165.60deg, #0ac27b, #0a7a96, #780baa)}
    47% { background: linear-gradient(169.20deg, #0ac27b, #0a7a96, #780baa)}
    48% { background: linear-gradient(172.80deg, #0ac27b, #0a7a96, #780baa)}
    49% { background: linear-gradient(176.40deg, #0ac27b, #0a7a96, #780baa)}
    50% { background: linear-gradient(180.00deg, #0ac27b, #0a7a96, #780baa)}
    51% { background: linear-gradient(183.60deg, #0ac27b, #0a7a96, #780baa)}
    52% { background: linear-gradient(187.20deg, #0ac27b, #0a7a96, #780baa)}
    53% { background: linear-gradient(190.80deg, #0ac27b, #0a7a96, #780baa)}
    54% { background: linear-gradient(194.40deg, #0ac27b, #0a7a96, #780baa)}

    55% { background: linear-gradient(198.00deg, #0ac27b, #0a7a96, #780baa)}
    56% { background: linear-gradient(201.60deg, #0ac27b, #0a7a96, #780baa)}
    57% { background: linear-gradient(205.20deg, #0ac27b, #0a7a96, #780baa)}
    58% { background: linear-gradient(208.80deg, #0ac27b, #0a7a96, #780baa)}
    59% { background: linear-gradient(212.40deg, #0ac27b, #0a7a96, #780baa)}
    60% { background: linear-gradient(216.00deg, #0ac27b, #0a7a96, #780baa)}
    61% { background: linear-gradient(219.60deg, #0ac27b, #0a7a96, #780baa)}
    62% { background: linear-gradient(223.20deg, #0ac27b, #0a7a96, #780baa)}
    63% { background: linear-gradient(226.80deg, #0ac27b, #0a7a96, #780baa)}
    64% { background: linear-gradient(230.40deg, #0ac27b, #0a7a96, #780baa)}
    65% { background: linear-gradient(234.00deg, #0ac27b, #0a7a96, #780baa)}

    66% { background: linear-gradient(237.60deg, #0ac27b, #0a7a96, #780baa)}
    67% { background: linear-gradient(241.20deg, #0ac27b, #0a7a96, #780baa)}
    68% { background: linear-gradient(244.80deg, #0ac27b, #0a7a96, #780baa)}
    69% { background: linear-gradient(248.40deg, #0ac27b, #0a7a96, #780baa)}
    70% { background: linear-gradient(252.00deg, #0ac27b, #0a7a96, #780baa)}
    71% { background: linear-gradient(255.60deg, #0ac27b, #0a7a96, #780baa)}
    72% { background: linear-gradient(259.20deg, #0ac27b, #0a7a96, #780baa)}
    73% { background: linear-gradient(262.80deg, #0ac27b, #0a7a96, #780baa)}
    74% { background: linear-gradient(266.40deg, #0ac27b, #0a7a96, #780baa)}
    75% { background: linear-gradient(270.00deg, #0ac27b, #0a7a96, #780baa)}

    76% { background: linear-gradient(273.60deg, #0ac27b, #0a7a96, #780baa)}
    77% { background: linear-gradient(277.20deg, #0ac27b, #0a7a96, #780baa)}
    78% { background: linear-gradient(280.80deg, #0ac27b, #0a7a96, #780baa)}
    79% { background: linear-gradient(284.40deg, #0ac27b, #0a7a96, #780baa)}
    80% { background: linear-gradient(288.00deg, #0ac27b, #0a7a96, #780baa)}
    81% { background: linear-gradient(291.60deg, #0ac27b, #0a7a96, #780baa)}
    82% { background: linear-gradient(295.20deg, #0ac27b, #0a7a96, #780baa)}
    83% { background: linear-gradient(298.80deg, #0ac27b, #0a7a96, #780baa)}
    84% { background: linear-gradient(302.40deg, #0ac27b, #0a7a96, #780baa)}
    85% { background: linear-gradient(306.00deg, #0ac27b, #0a7a96, #780baa)}

    86% { background: linear-gradient(309.60deg, #0ac27b, #0a7a96, #780baa)}
    87% { background: linear-gradient(313.20deg, #0ac27b, #0a7a96, #780baa)}
    88% { background: linear-gradient(316.80deg, #0ac27b, #0a7a96, #780baa)}
    89% { background: linear-gradient(320.40deg, #0ac27b, #0a7a96, #780baa)}
    90% { background: linear-gradient(324.00deg, #0ac27b, #0a7a96, #780baa)}
    91% { background: linear-gradient(327.60deg, #0ac27b, #0a7a96, #780baa)}
    92% { background: linear-gradient(331.20deg, #0ac27b, #0a7a96, #780baa)}
    93% { background: linear-gradient(334.80deg, #0ac27b, #0a7a96, #780baa)}
    94% { background: linear-gradient(338.40deg, #0ac27b, #0a7a96, #780baa)}
    95% { background: linear-gradient(342.00deg, #0ac27b, #0a7a96, #780baa)}

    96% { background: linear-gradient(345.60deg, #0ac27b, #0a7a96, #780baa)}
    97% { background: linear-gradient(349.20deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(352.80deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(356.40deg, #0ac27b, #0a7a96, #780baa)}
    100% { background: linear-gradient(360.00deg, #0ac27b, #0a7a96, #780baa)} 
}

@-moz-keyframes rotate-moz{
    0% { background: linear-gradient(0.00deg, #0ac27b, #0a7a96, #780baa)}
    1% { background: linear-gradient(3.60deg, #0ac27b, #0a7a96, #780baa)}
    2% { background: linear-gradient(7.20deg, #0ac27b, #0a7a96, #780baa)}
    3% { background: linear-gradient(10.80deg, #0ac27b, #0a7a96, #780baa)}
    4% { background: linear-gradient(14.40deg, #0ac27b, #0a7a96, #780baa)}
    5% { background: linear-gradient(18.00deg, #0ac27b, #0a7a96, #780baa)}
    6% { background: linear-gradient(21.60deg, #0ac27b, #0a7a96, #780baa)}
    7% { background: linear-gradient(25.20deg, #0ac27b, #0a7a96, #780baa)}
    8% { background: linear-gradient(28.80deg, #0ac27b, #0a7a96, #780baa)}
    9% { background: linear-gradient(32.40deg, #0ac27b, #0a7a96, #780baa)}
    10% { background: linear-gradient(36.00deg, #0ac27b, #0a7a96, #780baa)}

    11% { background: linear-gradient(39.60deg, #0ac27b, #0a7a96, #780baa)}
    12% { background: linear-gradient(43.20deg, #0ac27b, #0a7a96, #780baa)}
    13% { background: linear-gradient(46.80deg, #0ac27b, #0a7a96, #780baa)}
    14% { background: linear-gradient(50.40deg, #0ac27b, #0a7a96, #780baa)}
    15% { background: linear-gradient(54.00deg, #0ac27b, #0a7a96, #780baa)}
    16% { background: linear-gradient(57.60deg, #0ac27b, #0a7a96, #780baa)}
    17% { background: linear-gradient(61.20deg, #0ac27b, #0a7a96, #780baa)}
    18% { background: linear-gradient(64.80deg, #0ac27b, #0a7a96, #780baa)}
    19% { background: linear-gradient(68.40deg, #0ac27b, #0a7a96, #780baa)}
    20% { background: linear-gradient(72.00deg, #0ac27b, #0a7a96, #780baa)}
    21% { background: linear-gradient(75.60deg, #0ac27b, #0a7a96, #780baa)}

    22% { background: linear-gradient(79.20deg, #0ac27b, #0a7a96, #780baa)}
    23% { background: linear-gradient(82.80deg, #0ac27b, #0a7a96, #780baa)}
    24% { background: linear-gradient(86.40deg, #0ac27b, #0a7a96, #780baa)}
    25% { background: linear-gradient(90.00deg, #0ac27b, #0a7a96, #780baa)}
    26% { background: linear-gradient(93.60deg, #0ac27b, #0a7a96, #780baa)}
    27% { background: linear-gradient(97.20deg, #0ac27b, #0a7a96, #780baa)}
    28% { background: linear-gradient(100.80deg, #0ac27b, #0a7a96, #780baa)}
    29% { background: linear-gradient(104.40deg, #0ac27b, #0a7a96, #780baa)}
    30% { background: linear-gradient(108.40deg, #0ac27b, #0a7a96, #780baa)}
    31% { background: linear-gradient(111.60deg, #0ac27b, #0a7a96, #780baa)}
    32% { background: linear-gradient(115.20deg, #0ac27b, #0a7a96, #780baa)}

    33% { background: linear-gradient(118.80deg, #0ac27b, #0a7a96, #780baa)}
    34% { background: linear-gradient(122.40deg, #0ac27b, #0a7a96, #780baa)}
    35% { background: linear-gradient(126.00deg, #0ac27b, #0a7a96, #780baa)}
    36% { background: linear-gradient(129.60deg, #0ac27b, #0a7a96, #780baa)}
    37% { background: linear-gradient(133.20deg, #0ac27b, #0a7a96, #780baa)}
    38% { background: linear-gradient(136.80deg, #0ac27b, #0a7a96, #780baa)}
    39% { background: linear-gradient(140.40deg, #0ac27b, #0a7a96, #780baa)}
    40% { background: linear-gradient(144.40deg, #0ac27b, #0a7a96, #780baa)}
    41% { background: linear-gradient(147.60deg, #0ac27b, #0a7a96, #780baa)}
    42% { background: linear-gradient(151.20deg, #0ac27b, #0a7a96, #780baa)}
    43% { background: linear-gradient(154.80deg, #0ac27b, #0a7a96, #780baa)}

    44% { background: linear-gradient(158.40deg, #0ac27b, #0a7a96, #780baa)}
    45% { background: linear-gradient(162.00deg, #0ac27b, #0a7a96, #780baa)}
    46% { background: linear-gradient(165.60deg, #0ac27b, #0a7a96, #780baa)}
    47% { background: linear-gradient(169.20deg, #0ac27b, #0a7a96, #780baa)}
    48% { background: linear-gradient(172.80deg, #0ac27b, #0a7a96, #780baa)}
    49% { background: linear-gradient(176.40deg, #0ac27b, #0a7a96, #780baa)}
    50% { background: linear-gradient(180.00deg, #0ac27b, #0a7a96, #780baa)}
    51% { background: linear-gradient(183.60deg, #0ac27b, #0a7a96, #780baa)}
    52% { background: linear-gradient(187.20deg, #0ac27b, #0a7a96, #780baa)}
    53% { background: linear-gradient(190.80deg, #0ac27b, #0a7a96, #780baa)}
    54% { background: linear-gradient(194.40deg, #0ac27b, #0a7a96, #780baa)}

    55% { background: linear-gradient(198.00deg, #0ac27b, #0a7a96, #780baa)}
    56% { background: linear-gradient(201.60deg, #0ac27b, #0a7a96, #780baa)}
    57% { background: linear-gradient(205.20deg, #0ac27b, #0a7a96, #780baa)}
    58% { background: linear-gradient(208.80deg, #0ac27b, #0a7a96, #780baa)}
    59% { background: linear-gradient(212.40deg, #0ac27b, #0a7a96, #780baa)}
    60% { background: linear-gradient(216.00deg, #0ac27b, #0a7a96, #780baa)}
    61% { background: linear-gradient(219.60deg, #0ac27b, #0a7a96, #780baa)}
    62% { background: linear-gradient(223.20deg, #0ac27b, #0a7a96, #780baa)}
    63% { background: linear-gradient(226.80deg, #0ac27b, #0a7a96, #780baa)}
    64% { background: linear-gradient(230.40deg, #0ac27b, #0a7a96, #780baa)}
    65% { background: linear-gradient(234.00deg, #0ac27b, #0a7a96, #780baa)}

    66% { background: linear-gradient(237.60deg, #0ac27b, #0a7a96, #780baa)}
    67% { background: linear-gradient(241.20deg, #0ac27b, #0a7a96, #780baa)}
    68% { background: linear-gradient(244.80deg, #0ac27b, #0a7a96, #780baa)}
    69% { background: linear-gradient(248.40deg, #0ac27b, #0a7a96, #780baa)}
    70% { background: linear-gradient(252.00deg, #0ac27b, #0a7a96, #780baa)}
    71% { background: linear-gradient(255.60deg, #0ac27b, #0a7a96, #780baa)}
    72% { background: linear-gradient(259.20deg, #0ac27b, #0a7a96, #780baa)}
    73% { background: linear-gradient(262.80deg, #0ac27b, #0a7a96, #780baa)}
    74% { background: linear-gradient(266.40deg, #0ac27b, #0a7a96, #780baa)}
    75% { background: linear-gradient(270.00deg, #0ac27b, #0a7a96, #780baa)}

    76% { background: linear-gradient(273.60deg, #0ac27b, #0a7a96, #780baa)}
    77% { background: linear-gradient(277.20deg, #0ac27b, #0a7a96, #780baa)}
    78% { background: linear-gradient(280.80deg, #0ac27b, #0a7a96, #780baa)}
    79% { background: linear-gradient(284.40deg, #0ac27b, #0a7a96, #780baa)}
    80% { background: linear-gradient(288.00deg, #0ac27b, #0a7a96, #780baa)}
    81% { background: linear-gradient(291.60deg, #0ac27b, #0a7a96, #780baa)}
    82% { background: linear-gradient(295.20deg, #0ac27b, #0a7a96, #780baa)}
    83% { background: linear-gradient(298.80deg, #0ac27b, #0a7a96, #780baa)}
    84% { background: linear-gradient(302.40deg, #0ac27b, #0a7a96, #780baa)}
    85% { background: linear-gradient(306.00deg, #0ac27b, #0a7a96, #780baa)}

    86% { background: linear-gradient(309.60deg, #0ac27b, #0a7a96, #780baa)}
    87% { background: linear-gradient(313.20deg, #0ac27b, #0a7a96, #780baa)}
    88% { background: linear-gradient(316.80deg, #0ac27b, #0a7a96, #780baa)}
    89% { background: linear-gradient(320.40deg, #0ac27b, #0a7a96, #780baa)}
    90% { background: linear-gradient(324.00deg, #0ac27b, #0a7a96, #780baa)}
    91% { background: linear-gradient(327.60deg, #0ac27b, #0a7a96, #780baa)}
    92% { background: linear-gradient(331.20deg, #0ac27b, #0a7a96, #780baa)}
    93% { background: linear-gradient(334.80deg, #0ac27b, #0a7a96, #780baa)}
    94% { background: linear-gradient(338.40deg, #0ac27b, #0a7a96, #780baa)}
    95% { background: linear-gradient(342.00deg, #0ac27b, #0a7a96, #780baa)}

    96% { background: linear-gradient(345.60deg, #0ac27b, #0a7a96, #780baa)}
    97% { background: linear-gradient(349.20deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(352.80deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(356.40deg, #0ac27b, #0a7a96, #780baa)}
    100% { background: linear-gradient(360.00deg, #0ac27b, #0a7a96, #780baa)} 
}

@-ms-keyframes rotate-ms{
    0% { background: linear-gradient(0.00deg, #0ac27b, #0a7a96, #780baa)}
    1% { background: linear-gradient(3.60deg, #0ac27b, #0a7a96, #780baa)}
    2% { background: linear-gradient(7.20deg, #0ac27b, #0a7a96, #780baa)}
    3% { background: linear-gradient(10.80deg, #0ac27b, #0a7a96, #780baa)}
    4% { background: linear-gradient(14.40deg, #0ac27b, #0a7a96, #780baa)}
    5% { background: linear-gradient(18.00deg, #0ac27b, #0a7a96, #780baa)}
    6% { background: linear-gradient(21.60deg, #0ac27b, #0a7a96, #780baa)}
    7% { background: linear-gradient(25.20deg, #0ac27b, #0a7a96, #780baa)}
    8% { background: linear-gradient(28.80deg, #0ac27b, #0a7a96, #780baa)}
    9% { background: linear-gradient(32.40deg, #0ac27b, #0a7a96, #780baa)}
    10% { background: linear-gradient(36.00deg, #0ac27b, #0a7a96, #780baa)}

    11% { background: linear-gradient(39.60deg, #0ac27b, #0a7a96, #780baa)}
    12% { background: linear-gradient(43.20deg, #0ac27b, #0a7a96, #780baa)}
    13% { background: linear-gradient(46.80deg, #0ac27b, #0a7a96, #780baa)}
    14% { background: linear-gradient(50.40deg, #0ac27b, #0a7a96, #780baa)}
    15% { background: linear-gradient(54.00deg, #0ac27b, #0a7a96, #780baa)}
    16% { background: linear-gradient(57.60deg, #0ac27b, #0a7a96, #780baa)}
    17% { background: linear-gradient(61.20deg, #0ac27b, #0a7a96, #780baa)}
    18% { background: linear-gradient(64.80deg, #0ac27b, #0a7a96, #780baa)}
    19% { background: linear-gradient(68.40deg, #0ac27b, #0a7a96, #780baa)}
    20% { background: linear-gradient(72.00deg, #0ac27b, #0a7a96, #780baa)}
    21% { background: linear-gradient(75.60deg, #0ac27b, #0a7a96, #780baa)}

    22% { background: linear-gradient(79.20deg, #0ac27b, #0a7a96, #780baa)}
    23% { background: linear-gradient(82.80deg, #0ac27b, #0a7a96, #780baa)}
    24% { background: linear-gradient(86.40deg, #0ac27b, #0a7a96, #780baa)}
    25% { background: linear-gradient(90.00deg, #0ac27b, #0a7a96, #780baa)}
    26% { background: linear-gradient(93.60deg, #0ac27b, #0a7a96, #780baa)}
    27% { background: linear-gradient(97.20deg, #0ac27b, #0a7a96, #780baa)}
    28% { background: linear-gradient(100.80deg, #0ac27b, #0a7a96, #780baa)}
    29% { background: linear-gradient(104.40deg, #0ac27b, #0a7a96, #780baa)}
    30% { background: linear-gradient(108.40deg, #0ac27b, #0a7a96, #780baa)}
    31% { background: linear-gradient(111.60deg, #0ac27b, #0a7a96, #780baa)}
    32% { background: linear-gradient(115.20deg, #0ac27b, #0a7a96, #780baa)}

    33% { background: linear-gradient(118.80deg, #0ac27b, #0a7a96, #780baa)}
    34% { background: linear-gradient(122.40deg, #0ac27b, #0a7a96, #780baa)}
    35% { background: linear-gradient(126.00deg, #0ac27b, #0a7a96, #780baa)}
    36% { background: linear-gradient(129.60deg, #0ac27b, #0a7a96, #780baa)}
    37% { background: linear-gradient(133.20deg, #0ac27b, #0a7a96, #780baa)}
    38% { background: linear-gradient(136.80deg, #0ac27b, #0a7a96, #780baa)}
    39% { background: linear-gradient(140.40deg, #0ac27b, #0a7a96, #780baa)}
    40% { background: linear-gradient(144.40deg, #0ac27b, #0a7a96, #780baa)}
    41% { background: linear-gradient(147.60deg, #0ac27b, #0a7a96, #780baa)}
    42% { background: linear-gradient(151.20deg, #0ac27b, #0a7a96, #780baa)}
    43% { background: linear-gradient(154.80deg, #0ac27b, #0a7a96, #780baa)}

    44% { background: linear-gradient(158.40deg, #0ac27b, #0a7a96, #780baa)}
    45% { background: linear-gradient(162.00deg, #0ac27b, #0a7a96, #780baa)}
    46% { background: linear-gradient(165.60deg, #0ac27b, #0a7a96, #780baa)}
    47% { background: linear-gradient(169.20deg, #0ac27b, #0a7a96, #780baa)}
    48% { background: linear-gradient(172.80deg, #0ac27b, #0a7a96, #780baa)}
    49% { background: linear-gradient(176.40deg, #0ac27b, #0a7a96, #780baa)}
    50% { background: linear-gradient(180.00deg, #0ac27b, #0a7a96, #780baa)}
    51% { background: linear-gradient(183.60deg, #0ac27b, #0a7a96, #780baa)}
    52% { background: linear-gradient(187.20deg, #0ac27b, #0a7a96, #780baa)}
    53% { background: linear-gradient(190.80deg, #0ac27b, #0a7a96, #780baa)}
    54% { background: linear-gradient(194.40deg, #0ac27b, #0a7a96, #780baa)}

    55% { background: linear-gradient(198.00deg, #0ac27b, #0a7a96, #780baa)}
    56% { background: linear-gradient(201.60deg, #0ac27b, #0a7a96, #780baa)}
    57% { background: linear-gradient(205.20deg, #0ac27b, #0a7a96, #780baa)}
    58% { background: linear-gradient(208.80deg, #0ac27b, #0a7a96, #780baa)}
    59% { background: linear-gradient(212.40deg, #0ac27b, #0a7a96, #780baa)}
    60% { background: linear-gradient(216.00deg, #0ac27b, #0a7a96, #780baa)}
    61% { background: linear-gradient(219.60deg, #0ac27b, #0a7a96, #780baa)}
    62% { background: linear-gradient(223.20deg, #0ac27b, #0a7a96, #780baa)}
    63% { background: linear-gradient(226.80deg, #0ac27b, #0a7a96, #780baa)}
    64% { background: linear-gradient(230.40deg, #0ac27b, #0a7a96, #780baa)}
    65% { background: linear-gradient(234.00deg, #0ac27b, #0a7a96, #780baa)}

    66% { background: linear-gradient(237.60deg, #0ac27b, #0a7a96, #780baa)}
    67% { background: linear-gradient(241.20deg, #0ac27b, #0a7a96, #780baa)}
    68% { background: linear-gradient(244.80deg, #0ac27b, #0a7a96, #780baa)}
    69% { background: linear-gradient(248.40deg, #0ac27b, #0a7a96, #780baa)}
    70% { background: linear-gradient(252.00deg, #0ac27b, #0a7a96, #780baa)}
    71% { background: linear-gradient(255.60deg, #0ac27b, #0a7a96, #780baa)}
    72% { background: linear-gradient(259.20deg, #0ac27b, #0a7a96, #780baa)}
    73% { background: linear-gradient(262.80deg, #0ac27b, #0a7a96, #780baa)}
    74% { background: linear-gradient(266.40deg, #0ac27b, #0a7a96, #780baa)}
    75% { background: linear-gradient(270.00deg, #0ac27b, #0a7a96, #780baa)}

    76% { background: linear-gradient(273.60deg, #0ac27b, #0a7a96, #780baa)}
    77% { background: linear-gradient(277.20deg, #0ac27b, #0a7a96, #780baa)}
    78% { background: linear-gradient(280.80deg, #0ac27b, #0a7a96, #780baa)}
    79% { background: linear-gradient(284.40deg, #0ac27b, #0a7a96, #780baa)}
    80% { background: linear-gradient(288.00deg, #0ac27b, #0a7a96, #780baa)}
    81% { background: linear-gradient(291.60deg, #0ac27b, #0a7a96, #780baa)}
    82% { background: linear-gradient(295.20deg, #0ac27b, #0a7a96, #780baa)}
    83% { background: linear-gradient(298.80deg, #0ac27b, #0a7a96, #780baa)}
    84% { background: linear-gradient(302.40deg, #0ac27b, #0a7a96, #780baa)}
    85% { background: linear-gradient(306.00deg, #0ac27b, #0a7a96, #780baa)}

    86% { background: linear-gradient(309.60deg, #0ac27b, #0a7a96, #780baa)}
    87% { background: linear-gradient(313.20deg, #0ac27b, #0a7a96, #780baa)}
    88% { background: linear-gradient(316.80deg, #0ac27b, #0a7a96, #780baa)}
    89% { background: linear-gradient(320.40deg, #0ac27b, #0a7a96, #780baa)}
    90% { background: linear-gradient(324.00deg, #0ac27b, #0a7a96, #780baa)}
    91% { background: linear-gradient(327.60deg, #0ac27b, #0a7a96, #780baa)}
    92% { background: linear-gradient(331.20deg, #0ac27b, #0a7a96, #780baa)}
    93% { background: linear-gradient(334.80deg, #0ac27b, #0a7a96, #780baa)}
    94% { background: linear-gradient(338.40deg, #0ac27b, #0a7a96, #780baa)}
    95% { background: linear-gradient(342.00deg, #0ac27b, #0a7a96, #780baa)}

    96% { background: linear-gradient(345.60deg, #0ac27b, #0a7a96, #780baa)}
    97% { background: linear-gradient(349.20deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(352.80deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(356.40deg, #0ac27b, #0a7a96, #780baa)}
    100% { background: linear-gradient(360.00deg, #0ac27b, #0a7a96, #780baa)} 
}

@-o-keyframes rotate-o{
    0% { background: linear-gradient(0.00deg, #0ac27b, #0a7a96, #780baa)}
    1% { background: linear-gradient(3.60deg, #0ac27b, #0a7a96, #780baa)}
    2% { background: linear-gradient(7.20deg, #0ac27b, #0a7a96, #780baa)}
    3% { background: linear-gradient(10.80deg, #0ac27b, #0a7a96, #780baa)}
    4% { background: linear-gradient(14.40deg, #0ac27b, #0a7a96, #780baa)}
    5% { background: linear-gradient(18.00deg, #0ac27b, #0a7a96, #780baa)}
    6% { background: linear-gradient(21.60deg, #0ac27b, #0a7a96, #780baa)}
    7% { background: linear-gradient(25.20deg, #0ac27b, #0a7a96, #780baa)}
    8% { background: linear-gradient(28.80deg, #0ac27b, #0a7a96, #780baa)}
    9% { background: linear-gradient(32.40deg, #0ac27b, #0a7a96, #780baa)}
    10% { background: linear-gradient(36.00deg, #0ac27b, #0a7a96, #780baa)}

    11% { background: linear-gradient(39.60deg, #0ac27b, #0a7a96, #780baa)}
    12% { background: linear-gradient(43.20deg, #0ac27b, #0a7a96, #780baa)}
    13% { background: linear-gradient(46.80deg, #0ac27b, #0a7a96, #780baa)}
    14% { background: linear-gradient(50.40deg, #0ac27b, #0a7a96, #780baa)}
    15% { background: linear-gradient(54.00deg, #0ac27b, #0a7a96, #780baa)}
    16% { background: linear-gradient(57.60deg, #0ac27b, #0a7a96, #780baa)}
    17% { background: linear-gradient(61.20deg, #0ac27b, #0a7a96, #780baa)}
    18% { background: linear-gradient(64.80deg, #0ac27b, #0a7a96, #780baa)}
    19% { background: linear-gradient(68.40deg, #0ac27b, #0a7a96, #780baa)}
    20% { background: linear-gradient(72.00deg, #0ac27b, #0a7a96, #780baa)}
    21% { background: linear-gradient(75.60deg, #0ac27b, #0a7a96, #780baa)}

    22% { background: linear-gradient(79.20deg, #0ac27b, #0a7a96, #780baa)}
    23% { background: linear-gradient(82.80deg, #0ac27b, #0a7a96, #780baa)}
    24% { background: linear-gradient(86.40deg, #0ac27b, #0a7a96, #780baa)}
    25% { background: linear-gradient(90.00deg, #0ac27b, #0a7a96, #780baa)}
    26% { background: linear-gradient(93.60deg, #0ac27b, #0a7a96, #780baa)}
    27% { background: linear-gradient(97.20deg, #0ac27b, #0a7a96, #780baa)}
    28% { background: linear-gradient(100.80deg, #0ac27b, #0a7a96, #780baa)}
    29% { background: linear-gradient(104.40deg, #0ac27b, #0a7a96, #780baa)}
    30% { background: linear-gradient(108.40deg, #0ac27b, #0a7a96, #780baa)}
    31% { background: linear-gradient(111.60deg, #0ac27b, #0a7a96, #780baa)}
    32% { background: linear-gradient(115.20deg, #0ac27b, #0a7a96, #780baa)}

    33% { background: linear-gradient(118.80deg, #0ac27b, #0a7a96, #780baa)}
    34% { background: linear-gradient(122.40deg, #0ac27b, #0a7a96, #780baa)}
    35% { background: linear-gradient(126.00deg, #0ac27b, #0a7a96, #780baa)}
    36% { background: linear-gradient(129.60deg, #0ac27b, #0a7a96, #780baa)}
    37% { background: linear-gradient(133.20deg, #0ac27b, #0a7a96, #780baa)}
    38% { background: linear-gradient(136.80deg, #0ac27b, #0a7a96, #780baa)}
    39% { background: linear-gradient(140.40deg, #0ac27b, #0a7a96, #780baa)}
    40% { background: linear-gradient(144.40deg, #0ac27b, #0a7a96, #780baa)}
    41% { background: linear-gradient(147.60deg, #0ac27b, #0a7a96, #780baa)}
    42% { background: linear-gradient(151.20deg, #0ac27b, #0a7a96, #780baa)}
    43% { background: linear-gradient(154.80deg, #0ac27b, #0a7a96, #780baa)}

    44% { background: linear-gradient(158.40deg, #0ac27b, #0a7a96, #780baa)}
    45% { background: linear-gradient(162.00deg, #0ac27b, #0a7a96, #780baa)}
    46% { background: linear-gradient(165.60deg, #0ac27b, #0a7a96, #780baa)}
    47% { background: linear-gradient(169.20deg, #0ac27b, #0a7a96, #780baa)}
    48% { background: linear-gradient(172.80deg, #0ac27b, #0a7a96, #780baa)}
    49% { background: linear-gradient(176.40deg, #0ac27b, #0a7a96, #780baa)}
    50% { background: linear-gradient(180.00deg, #0ac27b, #0a7a96, #780baa)}
    51% { background: linear-gradient(183.60deg, #0ac27b, #0a7a96, #780baa)}
    52% { background: linear-gradient(187.20deg, #0ac27b, #0a7a96, #780baa)}
    53% { background: linear-gradient(190.80deg, #0ac27b, #0a7a96, #780baa)}
    54% { background: linear-gradient(194.40deg, #0ac27b, #0a7a96, #780baa)}

    55% { background: linear-gradient(198.00deg, #0ac27b, #0a7a96, #780baa)}
    56% { background: linear-gradient(201.60deg, #0ac27b, #0a7a96, #780baa)}
    57% { background: linear-gradient(205.20deg, #0ac27b, #0a7a96, #780baa)}
    58% { background: linear-gradient(208.80deg, #0ac27b, #0a7a96, #780baa)}
    59% { background: linear-gradient(212.40deg, #0ac27b, #0a7a96, #780baa)}
    60% { background: linear-gradient(216.00deg, #0ac27b, #0a7a96, #780baa)}
    61% { background: linear-gradient(219.60deg, #0ac27b, #0a7a96, #780baa)}
    62% { background: linear-gradient(223.20deg, #0ac27b, #0a7a96, #780baa)}
    63% { background: linear-gradient(226.80deg, #0ac27b, #0a7a96, #780baa)}
    64% { background: linear-gradient(230.40deg, #0ac27b, #0a7a96, #780baa)}
    65% { background: linear-gradient(234.00deg, #0ac27b, #0a7a96, #780baa)}

    66% { background: linear-gradient(237.60deg, #0ac27b, #0a7a96, #780baa)}
    67% { background: linear-gradient(241.20deg, #0ac27b, #0a7a96, #780baa)}
    68% { background: linear-gradient(244.80deg, #0ac27b, #0a7a96, #780baa)}
    69% { background: linear-gradient(248.40deg, #0ac27b, #0a7a96, #780baa)}
    70% { background: linear-gradient(252.00deg, #0ac27b, #0a7a96, #780baa)}
    71% { background: linear-gradient(255.60deg, #0ac27b, #0a7a96, #780baa)}
    72% { background: linear-gradient(259.20deg, #0ac27b, #0a7a96, #780baa)}
    73% { background: linear-gradient(262.80deg, #0ac27b, #0a7a96, #780baa)}
    74% { background: linear-gradient(266.40deg, #0ac27b, #0a7a96, #780baa)}
    75% { background: linear-gradient(270.00deg, #0ac27b, #0a7a96, #780baa)}

    76% { background: linear-gradient(273.60deg, #0ac27b, #0a7a96, #780baa)}
    77% { background: linear-gradient(277.20deg, #0ac27b, #0a7a96, #780baa)}
    78% { background: linear-gradient(280.80deg, #0ac27b, #0a7a96, #780baa)}
    79% { background: linear-gradient(284.40deg, #0ac27b, #0a7a96, #780baa)}
    80% { background: linear-gradient(288.00deg, #0ac27b, #0a7a96, #780baa)}
    81% { background: linear-gradient(291.60deg, #0ac27b, #0a7a96, #780baa)}
    82% { background: linear-gradient(295.20deg, #0ac27b, #0a7a96, #780baa)}
    83% { background: linear-gradient(298.80deg, #0ac27b, #0a7a96, #780baa)}
    84% { background: linear-gradient(302.40deg, #0ac27b, #0a7a96, #780baa)}
    85% { background: linear-gradient(306.00deg, #0ac27b, #0a7a96, #780baa)}

    86% { background: linear-gradient(309.60deg, #0ac27b, #0a7a96, #780baa)}
    87% { background: linear-gradient(313.20deg, #0ac27b, #0a7a96, #780baa)}
    88% { background: linear-gradient(316.80deg, #0ac27b, #0a7a96, #780baa)}
    89% { background: linear-gradient(320.40deg, #0ac27b, #0a7a96, #780baa)}
    90% { background: linear-gradient(324.00deg, #0ac27b, #0a7a96, #780baa)}
    91% { background: linear-gradient(327.60deg, #0ac27b, #0a7a96, #780baa)}
    92% { background: linear-gradient(331.20deg, #0ac27b, #0a7a96, #780baa)}
    93% { background: linear-gradient(334.80deg, #0ac27b, #0a7a96, #780baa)}
    94% { background: linear-gradient(338.40deg, #0ac27b, #0a7a96, #780baa)}
    95% { background: linear-gradient(342.00deg, #0ac27b, #0a7a96, #780baa)}

    96% { background: linear-gradient(345.60deg, #0ac27b, #0a7a96, #780baa)}
    97% { background: linear-gradient(349.20deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(352.80deg, #0ac27b, #0a7a96, #780baa)}
    99% { background: linear-gradient(356.40deg, #0ac27b, #0a7a96, #780baa)}
    100% { background: linear-gradient(360.00deg, #0ac27b, #0a7a96, #780baa)} 
}

#profile-picture:hover{
    cursor: pointer;
}

#profile-picture:hover + #profile-blob{
   /* filter: brightness(1.2);*/
   /* box-shadow: 0 0 80px rgba(255, 255, 255, 1);*/
   animation:  blob-animate 2s linear infinite;
   -webkit-animation: blob-animate-webkit 2s linear infinite;
   -moz-animation: blob-animate-moz 2s linear infinite;
   -ms-animation: blob-animate-ms 2s linear infinite;
   -o-animation: blob-animate-o 2s linear infinite;


   background: repeating-linear-gradient(
        45deg,
        black,
        black 10px,
        #0ac27b 10px,
        #0ac27b 20px
    );

    transition: background 300ms ease-in;

    display: none;

}

#textBubble{

    height: 20vh;
    max-height: 20vh; 
    width: 20vw;
    max-width: 20vw;
    background-color: white;
}

.blob{
    position: absolute;
    height: 22vw;
    width: 22vw;
    background: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    #115204  10px,
    #115204 20px
    );
    left: 0;
    right: 0;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;

    animation-name: blob-animate;

    -webkit-animation-name: blob-animate-webkit;
    -moz-animation-name: blob-animate-moz;
    -ms-animation-name: blob-animate-ms;
    -o-animation-name: blob-animate-o;

    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;

    -moz-animation-duration: 6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-duration: 6s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    -o-animation-duration: 6s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;

    display: none;
}





@keyframes blob-animate
{
    0%, 100%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
    }

    20%{ 
        border-radius: 57% 43% 60% 40% / 32% 35% 65% 68% 
       
    }

    40%{
        border-radius: 59% 41% 23% 77% / 56% 49% 51% 44% 
    }

    60%{
        border-radius: 62% 38% 68% 32% / 38% 68% 32% 62% 

    }

    80%{
        border-radius: 59% 41% 75% 25% / 42% 33% 67% 58% 
    }
}

@-webkit-keyframes blob-animate-webkit
{
    0%, 100%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
    }

    20%{ 
        border-radius: 57% 43% 60% 40% / 32% 35% 65% 68% 
       
    }

    40%{
        border-radius: 59% 41% 23% 77% / 56% 49% 51% 44% 
    }

    60%{
        border-radius: 62% 38% 68% 32% / 38% 68% 32% 62% 

    }

    80%{
        border-radius: 59% 41% 75% 25% / 42% 33% 67% 58% 
    }
}

@-moz-keyframes blob-animate-moz{
    0%, 100%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
    }

    20%{ 
        border-radius: 57% 43% 60% 40% / 32% 35% 65% 68% 
       
    }

    40%{
        border-radius: 59% 41% 23% 77% / 56% 49% 51% 44% 
    }

    60%{
        border-radius: 62% 38% 68% 32% / 38% 68% 32% 62% 

    }

    80%{
        border-radius: 59% 41% 75% 25% / 42% 33% 67% 58% 
    }
}

@-ms-keyframes blob-animate-ms{
    0%, 100%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
    }

    20%{ 
        border-radius: 57% 43% 60% 40% / 32% 35% 65% 68% 
       
    }

    40%{
        border-radius: 59% 41% 23% 77% / 56% 49% 51% 44% 
    }

    60%{
        border-radius: 62% 38% 68% 32% / 38% 68% 32% 62% 

    }

    80%{
        border-radius: 59% 41% 75% 25% / 42% 33% 67% 58% 
    }
}

@-o-keyframes blob-animate-o{
    0%, 100%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
    }

    20%{ 
        border-radius: 57% 43% 60% 40% / 32% 35% 65% 68% 
       
    }

    40%{
        border-radius: 59% 41% 23% 77% / 56% 49% 51% 44% 
    }

    60%{
        border-radius: 62% 38% 68% 32% / 38% 68% 32% 62% 

    }

    80%{
        border-radius: 59% 41% 75% 25% / 42% 33% 67% 58% 
    }
}




#myModal{

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 120vh; /* Full height */
    background-size: 100% 120vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
  
}

.modalImage{
    margin: auto;
    display: block;
    width: auto;
    height: 60%;
    max-width: 600px;
}

.modalImage {
    animation-name: zoom-in-image;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom-in-image {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .closeModalButton {
    position: absolute;
    top: 1vh;
    right: 10vw;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closeModalButton:hover, .closeModalButton:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modalImage {
      width: 100%;
    }
  }

#name-and-contact
{
    /*margin-left: 1.5vmax;*/
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 1;

}

#name-and-contact h1{
    margin-top: 2vh;
    color: white;
    font-size: 10vmin;
    font-weight: bolder;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    text-align: center;
}

#contact-info{
    margin-top: 2.5vh !important;
    font-size: 3vmin !important; /*1.8rem*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bolder;
    text-align: center;

}

#name-and-contact p{
    margin-top: 1vh;
   /* margin-left: 0.8vw;*/
    font-size: 3vmin;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}



.nav-bar{

}




  #Education{
    /*margin-left: 15%;
    margin-right: 15%;*/
    min-height: 26vmax; /*60vh;*/
    max-height: max-content;
    /*height: 26vmax;*/

    background-color: white;
    posiion: relative;


  }

  .cool-border{
      height: 2vh;
      width:100%;

      background: repeating-linear-gradient(
        45deg,
        black,
        black 10px,
        #115204  10px,
        #115204 20px
        );
      
  }

  .coolTriangles{
      position: relative;
  }

  .cool-border-triangle{
      height: 0;
      width: 0;
      background-color: transparent;
      border-top: 1vw solid black;
      border-left: 1vw solid transparent;
      border-right: 1vw solid transparent;
      border-bottom: 1vw solid transparent;

      top: 0;

      position: absolute;
      
  }

  #triangle1{
      left: 0;
  }

  #triangle2{
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      border-top: 1vw solid #115204;
  }

  #triangle3{
      right: 0;
  }

  #education-header{
      text-align: center;
      padding-top: 8vmin;
    
  }

  #education-header h1{
    font-weight: bolder;
    font-size: 3.7vmax;
    color: rgb(80, 80, 80);
    background: -webkit-linear-gradient(green 30%, black 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .grid-item svg{
      width: 4.5vmax;
  }

  #education-milestones{
      margin-top: 6vh;
      /*margin-bottom: 4vh;*/
      padding-bottom: 6vh;
      padding-right: 8vmin;
      padding-left: 8vmin;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 50% 50%;
       
  }

  .grid-item {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
 
  
  }

  .grid-item p{
    color: #333;
    font-size: 1.2vmax;
    font-weight: bold;
  }

  /*----------------------------------------------------*/
  /*About Me*/

  #AboutMeSection{
      height: max-content;
      position: relative;
      /*padding-top: 10vmin;
      padding-bottom: 25vmin;*/

     /* background-image: url(../../Images/headerPic_50.png);*/
      background-size: 100% 100%;
      background-attachment: fixed;

  }

  #whitespace{
      background-color: white;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 50vmax;
  }

  .menu a{
      margin-right: 0.5vw;
  }

  #backgroundImg{
    background-image: url(../../Images/headerPic_50-min.png);
   /* background-color: rgba(0,0,0,0.1);
    background-blend-mode: hue;*/
    /*background-position-x: -10vw;*/
    
    background-color: rgba(0,0,0,0.2);

    background-blend-mode: color;

    z-index: -2;
    position: fixed;
    /*background-position: -16vmax center;*/
    background-size: 100% 100vh;
    height:100vh;
    width:100%;
  }






  #AboutMe_1{
      display: inline-block;
      margin-top: 10vmin;
      margin-left: 8vmax;
      margin-right: 8vmax;
      padding-top: 4vmin;
      padding-bottom: 4vmin;
      padding-left: 3vmax;
      padding-right: 3vmax;
      background-color:rgba(0, 0, 0, 0.95);
      border-radius: 70px;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
      color: white;
  }

  #AboutMe_1 h1{
      text-align: center;
      margin-bottom: 3vmin;
      font-size: 3.75vmax;
  }

  #AboutMe_1 hr{
      margin-bottom: 3vmin;
      margin-left: 5vmax;
      margin-right: 5vmax;

      border: none;
      border-top: 3px solid white;
      border-top: 3px solid #0ac27b;
  }

  #AboutMe_1 p{
      font-size: 1.6vmax;
      margin-left: 5vmax;
      margin-right: 5vmax;
      line-height: 5vmin;
      letter-spacing: 2px;
  }

  #AboutMe_2{
    margin-left: 8vmax;
    margin-right: 8vmax;
    margin-top: 15vmin;
    padding-top: 4vmin;
    padding-bottom: 4vmin;
    padding-left: 3vmax;
    padding-right: 3vmax;
    background-color:rgba(0, 0, 0, 0.95);
    border-radius: 70px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    color: white;
}

#AboutMe_2 h2{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2.5vmax;
}

#AboutMe_2 hr{
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;

    border: none;
    border-top: 3px solid white;
    border-top: 3px solid #0ac27b;
}

#AboutMe_2 p{
    font-size: 1.6vmax;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 5vmin;
    letter-spacing: 2px;
}

#AboutMe_3{
    display:inline-block;
    margin-bottom: 20vmin;
    margin-left: 8vmax;
    margin-right: 8vmax;
    margin-top: 8vmin;
    padding-top: 4vmin;
    padding-bottom: 4vmin;
    padding-left: 3vmax;
    padding-right: 3vmax;
    background-color:rgba(0, 0, 0, 0.95);
    border-radius: 70px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    color: white;

}

#AboutMe_3 p{
    font-size: 1.6vmax;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 5vmin;
    letter-spacing: 2px;
}

#AboutMe_3 a{
    display: block;
    background-color: rgb(196, 74, 3);
    background-color: #115204;
    border-radius: 30px;
    padding: 12px 15px;
    margin: auto;
    max-width: 20vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
    font-size: 1.7vmax;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

#AboutMe_3 a:hover{
    background-color: #0ac27b;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/*-----------------------------------------------------------------*/
/*Skills / Languages*/

#Skills-Section{
   /* margin-left: 5%;
    margin-right: 5%;*/
    min-height: 60vh;
    max-height: max-content;
    background-color: white;
  }

  #skills-block{
      margin-left: 4vmin;
      margin-right: 4vmin;
      padding-top: 12vh;
  }

  #skills-header{
      text-align: center;
      font-size: 3.7vmax;
      font-weight: bolder;
      color: #333;
      background: -webkit-linear-gradient(green 30%, black 80%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  

  #Skills-Section ul{
      margin-top: 8vh;
      text-align: center;
  }

  #Skills-Section li{
    color: #333;
    font-size: 2.4vmax;
    font-weight: normal;
    padding: 1.5vw;
  }

  #skills-footer{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 12vh;
    font-size: 2.7vmax;
    font-weight: bold;
    color: #333;
  }

  #skills-footer{
      
  }

  /*----------------------------------------------------*/
  /*footer*/

  .foot{

      max-width: 100%;
      height: 48vh;
  }


  #phoneNumber{
      font-size: 3vmax;
      font-weight: bolder;
      text-align: center;
      color: white;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

      padding-top: 12vh;
  }

  #email{
    font-size: 3vmax;
    font-weight: bolder;
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

    padding-top: 3vh;
  }


  /*-------------FADE-IN and SLIDE-IN STUFF-------------------*/

  .fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  /*For elements that have the 'fade-in' class AND the 'appear' class */
  .fade-in.appear{
    opacity: 1;
  }

  .from-down{
      transform: translateY(40%);
      opacity: 0;
      transition: 0.45s cubic-bezier(.18,.89,.45,1.36)
  }

  .from-down.appear{
    transform: translateY(0);
    opacity: 1;
  }


  .from-left{
      transform: translateX(-60%);
      opacity: 0;
      transition: 700ms ease-in;
  }

  .from-left.appear{
      transform: translateX(0);
      opacity: 1;

  }